<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>YPZDW</title>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
    <div class="wrapper">
    	<div class="header">
	    	<div class="inner">
	    		<div class="logo">
	    			<img src="../pics/yw_modifymobile_logo.png" alt="YPZDW" class="l-pic">
	    		</div>

	    		<div class="concat">
	    			<p class="tel">
	    				<i class="phone-ic"></i>
	    				<span class="phone-nb">400-891-9920</span>
	    			</p>
	    			<p class="qq">
	    				<a href="" class="qq-link">
		    				<i class="qq-ic"></i>
		    				<span class="qq-nb">在线客服</span>
	    				</a>
					</p>
	    		</div>

	    		<div class="userinfo">
	    			<p>欢迎登录， tb0556</p>&ensp;|<p class="logout">&ensp;退出</p>
	    		</div>
	    	</div>
    	</div>
    	<div class="content">
    		<div class="inner">
    			<div class="tit">
    				<ul class="progess-steps">
    					<li class="step completed">
    						验证身份
    					</li>
    					<li class="step doing">
    						确认/修改手机号
    					</li>
    					<li class="step">
    						确定手机帐号密码
    					</li>
    					<li class="step">
    						完成
    					</li>
    				</ul>
    			</div>
    			<div class="ct">
    				<!-- three parts -default -modify-validatenow -modify-validatefuture -->
    				<ul class="mobile-items">
    					<!-- default -->
    					<li class="item">
    						<h2 class="tit">因系统升级，药品终端网及终端宝将采用同一手机号和密码登录，请确认您的手机号</h2>
    						<div class="ct-form">
    							<div class="formrow">
	    							<dl class="formitem info">
	    								<dt class="mobile"></dt>
	    								<dd class="ipt">
	    									<span id="J_orginalmobile">13458685175</span> <span class="lower">&ensp;原手机号</span>
	    								</dd>
	    							</dl>
	    							<a class="operate gomodify" href="javascripe:;">修改手机号</a>
    							</div>
    							<p class="tips">
    								原手机号码不可用，请拨打<span class="green">客服电话：4008919920</span>修改
    							</p>
    							<div class="formrow">
									<dl class="formitem txt">
	    								<dt class="code"></dt>
	    								<dd class="ipt">
	    									<input type="text" class="text" placeholder="请输入短信验证码" maxlength="6" id="J_vcode">
	    									<label class="border_heightLight"></label>
	    								</dd>
	    							</dl>
	    							<a class="operate getcode" href="javascripe:;" id="J_getvcode">获取短信验证码</a>
    							</div>
    							<p class="tips error">
    							    <span class="details hide" id="J_vcodeErrorInfo">
    							    <!-- hide -->
    									验证码错误，请重新输入
    							    </span>
    							</p>
    							<div class="btn-group">
    								<span class="btn" id="J_ensuremobile">确认手机号</span>
    							</div>
    						</div>
    					</li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="y-footer">
	    <div class="y-layout">
	        <p class="link">
	            <a href="https://company.ypzdw.com" target="_blank">关于我们</a>
	            <span>|</span>
	            <a href="https://company.ypzdw.com/Contact.html" target="_blank">联系我们</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/Help?id=35" target="_blank">商家入驻</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/Help?id=114" target="_blank">支付方式</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/DaoHang" target="_blank">网站导航</a>
	            <span>|</span>
	            <a href="https://company.ypzdw.com/recruit.html" target="_blank">诚聘英才</a>
	        </p>
	        <p class="txt">
	        	增值电信业务经营许可证：<a href="https://static.ypzdw.com/base/img/card2.jpg" class="green" target="_blank">川B2-20100176</a>
	        	互联网药品信息服务资格证书：<a href="https://static.ypzdw.com/base/img/card3.jpg" class="green" target="_blank">(川)-经营性-2010-0005</a>
	        	互联网药品交易服务资格证：<a href="https://static.ypzdw.com/base/img/ACertificate.jpg" class="green" target="_blank">国A20140002</a>
	        	公安机关备案号：51019002000207
        	</p>
	        <p class="txt"><span class="gray fontBold">Copyright ©2011-2015 www.ypzdw.com All rights reserved.</span> 版权所有:<a href="https://www.ypzdw.com">药品终端网</a></p>
	        <p class="imgbox">
	            <a rel="external nofollow" target="_blank" href="https://www.miitbeian.gov.cn">
	                <img width="108" height="40" src="https://static2.ypzdw.com/shop/images/base/b-1.gif" alt="备案信息">
	            </a>
	            <a id="kx_verify" style="display:inline-block;" kx_type="图标式" target="_blank" tabindex="-1" href="https://ss.knet.cn/verifyseal.dll?sn=e14060451010049666w4h8000000&ct=df&a=1&pa=0.2999223814278642">
	                <img alt="可信网站" oncontextmenu="return false;" style="border:none;" width="108" height="40" src="https://static2.ypzdw.com/shop/images/base/cnnic.png">
	            </a>
	            <a rel="external nofollow" target="_blank" href="https://search.szfw.org/cert/l/CX20140812008666008761">
	                <img alt="诚信网站" src="https://static2.ypzdw.com/shop/images/base/cxlogo.png" width="108" height="40">
	            </a>
	        </p>
	    </div>
	</div>
	<script type="text/javascript" src="http://passport.ypzdw.cc:8088/static/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="http://passport.ypzdw.cc:8088/static/plugins/layer/layer.js"></script>
</body>
</html>