@charset "UTF-8";
//-----------------------------------------------------	
//通用登录框
//-----------------------------------------------------
/**	
 * 通用登录框
 * 弹出模块以 .p-开头
**/

//登录框
.p-login{
	width: 450px;
	height: 450px;
	position: fixed;
	margin: -225px 0px 0px -225px;
	display: block;
	left: 50%;
	top: 50%;
	z-index: 1000;
	.login-bg{
		width: 450px;
		height: 450px;
		background: #fff;
		@include opacity(50);
	}
	.login-wrap{
		position: absolute;
		top:10px;
		left: 10px;
		width: 430px;
		height: 430px;
		background-color: $white;
		text-align: left;
		@include box-shadow(-3px 0 5px rgba(0,0,0,.1));
		.title{
			width: 410px;
			height: 50px;
			padding: 10px 0 0;
			line-height: 50px;
			overflow: hidden;
			font-size: 20px;
			font-weight: bold;
			color: #77c653;
			border-bottom: 1px solid #ededed;
			margin: 0 auto 20px;
			text-indent: 2em;
		}
		.error-msg{
			width: 300px;
			margin: 0 auto;
			height: 34px;
			line-height: 34px;
			overflow: hidden;
			text-align: right;
			color: $red;
		}
		.form-li{
			width: 300px;
			margin:0px auto 20px;
			height: 40px;
			@extend %clearfix;
			span{
				float: left;
				width: 40px;
				height: 38px;
				line-height: 30px;
				border: 1px solid #ddd;
				border-right: none;
				background-color: #e5e5e5;
				color: #999;
				font-size: 24px;
				text-align: center;
			}
		}
		.input-text{
			float: left;
			padding: 0 10px;
			width: 237px;
			height: 38px;
			line-height: 38px;
			border: 1px solid #ddd;
			color: #333;

		}
		.form-link{
			width: 300px;
			margin: 0 auto;
			height: 16px;
			line-height: 16px;
			text-align: right;
			color: #757575;
			span{
				padding: 0 3px;
			}
			&.reg-link{
				text-align: left;
				a{
					color: #317ee7;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.btn-login{
			width: 300px;
			display: block;
			margin: 8px auto;
			height: 38px;
			line-height: 38px;
			font-size: 18px;
			color: $white;
			background-color: #77c552;
			border: 1px solid #67a82b;
			text-align: center;
			&:hover{
				background-color: #7bc15a;
			}
		}
	}
}