@charset "UTF-8";
//-----------------------------------------------------	
//通用侧边快速栏
//-----------------------------------------------------
/**	
 * 通用侧边快速栏
 * 全局模块以 .y-开头
**/

#y-sidebar{
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	min-width: 35px;
	background-color: #333;
	z-index: 99;
}

.y-sidebar-tab{
	position: absolute;
	left: 0;
	top: 0;
	width: 35px;
	text-align: center;
	font-size: 14px;
	color: $white; 
	.ico_main{
		display: inline-block;
	}
	.sidebar-my{
		padding: 18px 0;
		cursor: pointer;
		.ico_my_class{
			@include ico_my_white;
		}
		&:hover{
			background-color: #e5e5e5;
			color: #333;
			>.ico_my_class{
				@include ico_my_gray;
			}
		}
	}
	.sidebar-cart{
		position: relative;
		padding: 18px 0;
		cursor: pointer;
		.ico_bar_cart_class{
			@include ico_bar_cart_white;
		}
		b{
			display: block;
			margin-top: 2px;
			width: 35px;
			text-align: center;
		}
		em{
			display: inline-block;
			padding: 0 6px;
			height: 20px;
			line-height: 18px;
			@include border-radius(10px);
			background-color: #ff3434;
			color: #fff;
			font-style: normal;
			font-size: 12px;
			font-weight: normal;
		}
		&:hover{
			background-color: #e5e5e5;
			color: #333;
			>.ico_bar_cart_class{
				@include ico_bar_cart_gray;
			}
		}
	}
	
	//登录框
	.y-login{
		display: none;
		position: absolute;
		right: 35px;
		top: -1px;
		padding: 0 18px;
		width: 284px;
		height: 332px;
		border: 1px solid #ddd;
		border-right: none;
		background-color: $white;
		text-align: left;
		@include box-shadow(-3px 0 5px rgba(0,0,0,.1));
		.title{
			padding: 30px 0 0;
			height: 16px;
			line-height: 16px;
			overflow: hidden;
			font-size: 16px;
			font-weight: bold;
			color: #333;
		}
		.error-msg{
			height: 34px;
			line-height: 34px;
			overflow: hidden;
			text-align: right;
			color: $red;
		}
		.form-li{
			margin-bottom: 20px;
			height: 40px;
			@extend %clearfix;
			span{
				float: left;
				width: 40px;
				height: 38px;
				line-height: 30px;
				border: 1px solid #ddd;
				border-right: none;
				background-color: #e5e5e5;
				color: #999;
				font-size: 24px;
				text-align: center;
			}
		}
		.input-text{
			float: left;
			padding: 0 10px;
			width: 217px;
			height: 38px;
			line-height: 38px;
			border: 1px solid #ddd;
			color: #333;

		}
		.form-link{
			height: 16px;
			line-height: 16px;
			text-align: right;
			color: #757575;
			span{
				padding: 0 3px;
			}
			&.reg-link{
				text-align: left;
				a{
					color: #317ee7;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.btn-login{
			display: block;
			margin: 8px 0;
			height: 38px;
			line-height: 38px;
			font-size: 18px;
			color: $white;
			background-color: #77c552;
			border: 1px solid #67a82b;
			text-align: center;
			&:hover{
				background-color: #7bc15a;
			}
		}
	}


	.sidebar-online{
		position: relative;
		padding: 18px 0;
		.ico_chart_class{
			@include ico_chart_white;
		}
		.sidebar-online-show{
			display: none;
			position: absolute;
			right: 35px;
			top: -1px;
			padding: 26px 18px;
			width: 280px;
			border: 1px solid #ddd;
			border-right: none;
			background-color: $white;
			z-index: 99;
			@include box-shadow(-3px 0 5px rgba(0,0,0,.1));
			text-align: left;
		}
		p{
			line-height: 24px;
			color: #666;
			&.mt14{
				margin-top: 14px;
			}
		}
		.ico_qq_small{
			float: left;
			margin-top: 11px;
			margin-right: 4px;
			width: 15px;
			height: 17px;
			background: url(../images/base/ico_qq_small.png) no-repeat;
			vertical-align: middle;
		}
		.time{
			font-size: 12px;
		}
		.ico_phone_2{
			display: inline-block;
			margin-top: -4px;
			margin-left: 5px;
			vertical-align: middle;
		}
		.sidebar-online-qq{
			a{
				display: block;
				padding: 0 12px;
				height: 40px;
				line-height: 40px;
				border: 1px solid #ddd;
				color: #333;
			}
		}
		&:hover{
			.sidebar-online-show{
				display: block;
			}
			background-color: $white;
			.ico_chart_class{
				@include ico_chart_gray;
			}
			color: #333;
		}
	}
	.selected{
		background-color: #e5e5e5;
		color: #333;
		>.ico_my_class{
			@include ico_my_gray;
		}
		>.ico_bar_cart_class{
			@include ico_bar_cart_gray;
		}
		>.ico_chart_class{
			@include ico_chart_gray;
		}
	}
	.loginStyle{
		background-color: #fff;
		color: #333;
		>.ico_my_class{
			@include ico_my_gray;
		}
	}
}
.sidebar-code{
	position: absolute;
	left: 0;
	bottom: 70px;
	width: 35px;
	padding: 10px 0;
	text-align: center;
	background-color:#333;
	.ico_code_class{
		display: inline-block;
		@include ico_code_white;
	}
	.sidebar-code-show{
		display: none;
		position: absolute;
		right: 35px;
		bottom: -1px;
		padding: 28px 29px 20px;
		width: 131px;
		height: 161px;
		border: 1px solid #ddd;
		border-right: none;
		background-color: $white;
		z-index: 99;
		@include box-shadow(-3px 0 5px rgba(0,0,0,.1));
	}
	&:hover{
		.sidebar-code-show{
			display: block;
		}
		background-color: $white;
		.ico_code_class{
			@include ico_code_black;
		}
		color: #333;
	}
}
.y-sidebar-bd{
	position: relative;
	margin-left: 35px;
	width: 0;
	height: 100%;
	background-color: #f8f8f8;
	overflow: auto;
	.error{
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: $red;
	}
}

//我的
.sidebar-bd-my{
	padding: 20px;
	width: 234px;
	//店铺名
	>.my-title{
		padding-bottom: 20px;
		line-height: 23px;
		line-height: 23px;
		b{
			padding-right: 10px;
			max-width: 230px;
			@extend %ellipsis-basic;
			font-size: 16px;
		}
	}
	//我的余额
	>.my-amount{
		border: 1px solid #e5e5e5;
		>ul{
			@extend %clearfix;
		}
		li{
			float: left;
			margin-left: -1px;
			width: 77px;
			height: 63px;
			border-left: 1px solid #e5e5e5;
			background-color: $white;
			span{
				display: block;
				height: 31px;
				line-height: 44px;
				text-align: center;
				overflow: hidden;
				font-size: 12px;
				&.gray{
					font-size: 12px;
					line-height: 18px;
				}
			}
			a{
				display: block;
				&:hover{
					color: #333;
					background-color: #f0f0f0;
				}
			}
		}
	}
	//我的订单
	>.my-order{
		margin-top: 20px;
		padding: 9px;
		border: 1px solid #e5e5e5;
		background-color: #fff;
		@extend %clearfix;
		dt{
			height: 18px;
			line-height: 18px;
			font-size: 14px;
			clear: both;
		}
		dd{
			position: relative;
			float: left;
			padding: 10px 17px 0;
			width: 72px;
			.iconfont{
				font-size: 36px;
				color: $green;
			}
			a{
				position: relative;
				display: block;
				text-align: center;
			}
			em{
				position: absolute;
				left: 46px;
				top: 0;
				padding: 0 5px;
				height: 16px;
				line-height: 15px;
				@include border-radius(10px);
				background-color: #ff3434;
				color: #fff;
				font-style: normal;
			}
		}
	}
	//我的优惠券
	.my-coupon{
		margin-top: 20px;
		padding: 9px;
		border: 1px solid #e5e5e5;
		background-color: #fff;
		@extend %clearfix;
		dt{
			height: 18px;
			line-height: 18px;
			font-size: 14px;
			clear: both;
		}
		.coupon{
			position: relative;
			margin-top: 14px;
			width: 214px;
			height: 115px;
			font-family: $fontCn;
			overflow: hidden;
			
			&.coupon1{
				color: $green;
				background: url(../images/base/coupon_bg_1.gif) no-repeat;
				.title{
					color: #b1db9f;
				}
				.apply{
					color: #b1db9f;
				}
			}
			&.coupon2{
				color: #1ba3d6;
				background: url(../images/base/coupon_bg_2.gif) no-repeat;
				.title{
					color: #8cc8e6;
				}
				.apply{
					color: #8cc8e6;
				}
			}
			a{
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				display: block;
			}
			.denomination{
				position: absolute;
				left: 22px;
				top: 12px;
				font-size: 14px;
				font-family: $fontYaHei;
				span{
					font-size: 18px;
				}
			}
			
			.limit{
				position: absolute;
				right: 20px;
				top: 14px;
			}
			.validity{
				position: absolute;
				right: 20px;
				top: 30px;
				color: #bcbcbc;
			}
			.title{
				margin-top: 58px;
				margin-left: 20px;
				padding-right: 20px;
				height: 20px;
				line-height: 20px;
				overflow: hidden;
			}
			.apply{
				margin-left: 20px;
				height: 20px;
				line-height: 20px;
				overflow: hidden;
			}
		}
		.more{
			margin-top: 10px;
			height: 20px;
			line-height: 20px;
			text-align: right;
			font-size: 14px;
			a{
				color: #0081cc;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	//其他
	.my-other{
		margin-top: 20px;
		.title{
			padding-bottom: 10px;
			height: 14px;
			line-height: 14px;
			border-bottom: 1px dashed #e5e5e5;
			color: #666;
		}
		.info{
			margin-top: 10px;
			height: 14px;
			line-height: 14px;
			text-align: right;
			a{
				color: #0081cc;
				&:hover{
					text-decoration: underline;
				}
			}
			span{
				color: #b2cee7;
			}
		}
	}
}

//购物车
.sidebar-bd-cart{
	padding: 20px 12px 20px 10px;
	width: 252px;
	.sidebar-goods-list{
		>dl{
			overflow: hidden;
			@extend %clearfix;
		}
		dt{
			margin-top: -1px;
			padding: 10px 0 17px 12px;
			height: 16px;
			line-height: 15px;
			font-size: 14px;
			border-top: 1px solid #e5e5e5;
			overflow: hidden;
			@extend %clearfix;
			span{
				float: right;
				font-family: $fontCn;
				font-size: 12px;
				color: #666;
			}
			input[type="checkbox"]{
				float: left;
				margin-top:2px;
				margin-right: 10px;
			}
		}
		dd{
			position: relative;
			margin-left: 13px;
			padding-top: 15px;
			padding-bottom: 14px;
			height: 60px;
			border-top: 1px solid #e5e5e5;
			input[type="checkbox"]{
				position: absolute;
				left: -13px;
				top: 37px;
			}
			.imgbox{
				position: relative;
				float: left;
				margin-left: 23px;
				margin-right: 15px;
				width: 58px;
				height: 58px;
				line-height: 58px;
				text-align: center;
				border: 1px solid #e5e5e5;
				overflow: hidden;
				img{
					max-width: 58px;
					max-height: 58px;
				}
				a{
					display: block;
					height: 100%;
				}
				.disable-text{
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background:url(../images/base/black_opacity_80.png) repeat;
					color: #fff;
					
				}
				.xiajia-text{
					text-decoration: line-through;
				}
				
			}
			.info{
				.title{
					height: 20px;
					line-height: 20px;
					color: #666;
					@extend %ellipsis-basic;
				}
				.text{
					height: 20px;
					line-height: 20px;
					color: #aaa;
					@extend %ellipsis-basic;
					span{
						//display: none;
						float: right;
					}
				}
				.number{
					padding: 0;
					width: 38px;
					height: 18px;
					border: 1px solid #c8c8c8;
					font-size: 12px;
					text-align: center;
					color: #333;
				}
				em{
					margin-left: -3px;
					margin-right: -3px;
					padding: 0 5px;
					font-size: 14px;
					font-style: normal;
					line-height: 20px;
					color: #333;
					cursor: pointer;
					font-weight: bold;
				}

			}
			.close{
				display: none;
				position: absolute;
				right: 2px;
				top: 10px;
				@include ico_close_1;
			}
			&:hover{
				.close{
					display: block;
				}
			}

			&.disable{
				.imgbox{
					.disable-text{
						display: block;
					}
				}
				.info{
					.xiajia-title{
						text-decoration: line-through;
					}
				}
				
			}
		}
	}
	.total{
		margin-top: 16px;
		@extend %clearfix;
		>.price{
			height: 14px;
			line-height: 14px;
			font-size: 14px;
			overflow: hidden;
			span{
				float: right;
				font-weight: bold;
				color: $red;
			}
			em{
				font-style: normal;
			}
		}
		>.btn-box{
			margin-top: 10px;
			height: 35px;
			line-height: 32px;
			.btn-checkout{
				display: block;
				height: 33px;
				border: 1px solid #67a82b;
				background-color: #77c552;
				color: $white;
				font-size: 18px;
				text-align: center;
				&:hover{
					background-color: #84ca62;
				}
			}
			.ico_go{
				display: inline-block;
				margin-left: 5px;
				margin-top: -2px;
				vertical-align: middle;
			}
		}
		>.info{
			margin-top: 7px;
			height: 14px;
			line-height: 14px;
			color: #999;
		}
	}
}

.ico_buyer_level{
	display: inline-block;
}

//返回顶部
.sidebar-gotop{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 35px;
	background-color: #333;
	#sidebarGoTop{
		display: block;
		margin: 0 3px;
		padding: 20px 0;
		border-top: 1px solid #666;
		text-align: center;
	}
	.ico_main{
		display: inline-block;
	}
	&:hover{
		background-color: #e5e5e5;
		#sidebarGoTop{
			border-color:#e5e5e5;
		}
		.ico_gotop{
			@include ico_gotop_hover;
		}
	}
}