@charset "UTF-8";
//-----------------------------------------------------	
//通用shortcut
//-----------------------------------------------------

/**	
 * 通用shortcut
 * 全局模块以 .y-开头
**/

.y-shortcut{
	height: 30px;
	line-height: 30px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #d6d6d6;
	font-family: $fontCn;
	@extend %clearfix;
	ul{
		>li{
			float: left;
			position: relative;
			&.line{
				margin-top: 10px;
				width: 1px;
				height: 12px;
				background-color: $grayDark;
				overflow: hidden;
			}
			i{
				margin-right: 10px;
				vertical-align: top;
			}
			&.dorpdown{
				.dt{
					padding-right: 5px;
					padding-bottom: 1px;
					border-left: 1px solid  #f2f2f2;
					border-right: 1px solid  #f2f2f2;

				}
				.area{
					display: none;
					position: absolute;
					left: 0;
					top: 30px;
					padding: 7px 0 7px 20px;
					width: 300px;
					background-color: $white;
					border: 1px solid #e6e6e5;
					@extend %clearfix;
					z-index: 99;
				}
				.item{
					float: left;
					width: 60px;
					line-height: 24px;
					a{
						float: left;
						padding: 0 8px;
						&:hover{
							background-color: $green;
							color: $white;
						}
					}			
				}
				.iconfont{
					margin-left: 8px;
					margin-right: 0;
					color: #aaacb4;
				}
				&:hover{
					background-color: $white;
					.dt{
						border-color: #e5e5e5;
					}
					.dd{
						display: block;
					}
					.area{
						border-top-color: $white;
					}
				}
			}
			&.hover{
				.area{
					display: block;
				}
				background-color: #fff;
				.dt{
					position: relative;
					border-color: #e6e6e5;
					background-color: $white;
					z-index: 100;
				}
			}
		}
	}
	.dt{
		padding: 0 10px 0 8px;
		em{
			display: inline-block;
			margin-left: 2px;
			padding: 0 5px;
			line-height: 16px;
			@include border-radius(10px);
			background-color: #ff3434;
			color: #fff;
			font-style: normal;
			font-size: 12px;
			font-weight: normal;
		}
	}
	
}
