@charset "UTF-8";
//-----------------------------------------------------	
//通用底部
//-----------------------------------------------------
/**	
 * 通用底部
 * 全局模块以 .y-开头
**/

.y-service{
	margin-top: 50px;
	padding: 40px 0;
	background-color: #333;
	@extend %clearfix;
}

.y-service-list{
	float: left;
	dl{
		float: left;
		margin-left: 56px;
		width: 88px;
		a{
			line-height: 1;
			color: $white;
			&:hover{
				color:$green;
			}
		}
	}
	dt{
		display: block;
		margin: 13px 0 0;
		padding-bottom: 19px;
		font-size: 16px;
		color: $white;

	}
	dd{
		display: block;
		margin-top: 11px;
		font-size: 14px;

	}
}

.y-service-qrcode{
	float: right;
	margin-right: 45px;
	padding: 16px 16px 16px;
	width: 330px;
	height: 168px;
	overflow: hidden;
	background-color: #f8f8f8;
	p{
		margin-bottom: 10px;
	}
}

.y-footer{
	padding: 28px 0 40px;
	border-top: 1px solid #d6d6d6;
	text-align: center;
	background-color: #f8f8f8;
	.link{
		margin-bottom: 12px;
		color: #999;
		a{
			color: #999;
			&:hover{
				color: $green;
			}
		}
		span{
			padding: 0 4px;
		}
	}
	.txt{
		margin-bottom: 12px;
		color: #999;
		a{
			color: #999;
			&:hover{
				color: $green;
			}
		}
	}
	.imgbox{
		margin-bottom: 12px;
		a{
			margin-right: 7px;
		}
	}
}