<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>TaxTips</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
	<input type="hidden" value="11" id="UserId">
	<input type="hidden" value="0" id="isTaxSetted">
	<input type="hidden" value="0" id="isCompleteAptitude">
    <!-- <div id="maskForTax">
    	<div class="content">
    		<span class="close" id="y_taxClose"></span>
	    	<div class="inner">
	    		<p class="wordsTips">
	    			亲，请及时更新发票资料，以便您更快收到发票！
	    		</p>
	    		<div class="btn_group">
	    			<a class="btn" id="y_taxGoto" href="">前往更新发票资料</a>
	    		</div>
	    	</div>
    	</div>
    </div> -->

    <!-- <div id="maskForAptitude">
    	<div class="content">
    		<span class="close"></span>
    		<div class="hd">纸质资料不足</div>
    		<div class="bd">
    			<div class="top">
    				<h4>您的剩余资质&#x3c;3份</h4>
    				<p>请尽快向药品终端网邮寄合格资质，否则将导致商家没有您的资质不能出库，延误您的收货时间。</p>
    			</div>
    			<div class="bottom">
    				<h4>您的纸质资质邮寄地址：</h4>
    				<div class="info">
	    				<div class="list">
		    				<p>地址：郫县安靖镇土柏路499号10栋5单元4楼（除邮政EMS不能到，其他快递都可）（不接受到付件）</p>
		    				<p>邮编：610041</p>
		    				<p>收件人：杨文雪</p>
		    				<p>电话：028-83102316</p>
	    				</div>
    				</div>
    			</div>
    		</div>
    		<div class="ft">
    			<p>您也可以在<span class="blue"><a class="link" href="" target="_blank">会员中心</a>—<a class="link" href="" target="_blank">我的资质</a></span>页面底部查看</p>
    		</div>
    	</div>
    </div> -->
</body>
</html>