body{ margin:0; }
.bd{ height:2904px;background:url('../pics/bg_bd.jpg') no-repeat center; }
.ft{
	height:807px;background:url('../pics/bg_ft.jpg') no-repeat center;
	.content{
		position:relative;width:1060px;margin-left:auto;margin-right:auto;
		.wrap_pic{
			position:absolute;left:87px;top:148px;width:106px;height:125px;text-align:center;font:0/0 '0';
			&:after{
				display:inline-block;content:'';height:100%;width:0;vertical-align:middle;
			}
			>img{
				display:inline-block;max-width:100%;max-height:100%;border:0 none;vertical-align:middle;
			}
		}
	}
	}