<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>YPZDW</title>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
    <div class="wrapper">
    	<div class="header">
	    	<div class="inner">
	    		<div class="logo">
	    			<img src="../pics/yw_login_logo.png" alt="YPZDW" class="l-pic">
	    		</div>
	    		<div class="concat">
	    			<p class="tel">
	    				<i class="phone-ic"></i>
	    				<span class="phone-nb">400-891-9920</span>
	    			</p>
	    			<p class="qq">
	    				<a href="" class="qq-link">
		    				<i class="qq-ic"></i>
		    				<span class="qq-nb">在线客服</span>
	    				</a>
					</p>
	    		</div>
	    	</div>
    	</div>
    	<div class="content">
    		<div class="inner">
	    		<div class="ct-ct">
	    			<div class="ct-bd-form" id="J_rt_from">
	    				<form class="info-bd">
	    					<dl class="form-item">
	    						<dt class="tel"></dt>
	    						<dd>
									<input class="txt" id="J_rt_usNm" type="text" placeholder="请输入您的终端网帐号" maxlength="20">
									<label class="border_heightLight"></label>
								</dd>
	    					</dl>
	    					<p class="notice">
	    						帐号为您以往药品终端网使用的用户名
	    					</p>
	    					<!-- <dl class="form-item codeIpt-item">
	    						<dt class="code"></dt>
	    						<dd>
									<input class="txt" id="J_rt_code" type="text" placeholder="请输入验证码" maxlength="4">
									<label class="border_heightLight"></label>
								</dd>
	    					</dl>
	    					<dl class="form-item code-item">
	    						<dt class="code-wp"></dt>
	    						<dd>
	    							<span class="btn" id="J_rt_resetCode">换一张</span>
	    						</dd>
	    					</dl> -->
	    					<p class="notice red hide animation" id="J_rt_notice">
	    						验证码错误，请重新输入
	    					</p>
	    					<p class="btn_wp">
	    						<span class="btn" id="J_rt_submit">下一步</span>
	    					</p>
	    				</form>
	    			</div>
	    			<!--  -->
	    			<div class="ct-bd-result hide" id="J_rt_result">
	    				<div class="info-bd">
	    					<h4>您的手机号是</h4>
	    					<p class="usNm" id="J_usMobile">{ NULL }</p>
	    					<p class="btn_wp">
	    						<a class="btn" href="./login.html">去登陆</a>
	    					</p>
	    				</div>
	    			</div>
	    		</div>
    		</div>
    	</div>
    </div>
    <div class="y-footer">
	    <div class="y-layout">
	        <p class="link">
	            <a href="https://company.ypzdw.com" target="_blank">关于我们</a>
	            <span>|</span>
	            <a href="https://company.ypzdw.com/Contact.html" target="_blank">联系我们</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/Help?id=35" target="_blank">商家入驻</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/Help?id=114" target="_blank">支付方式</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/DaoHang" target="_blank">网站导航</a>
	            <span>|</span>
	            <a href="https://company.ypzdw.com/recruit.html" target="_blank">诚聘英才</a>
	        </p>
	        <p class="txt">
	        	增值电信业务经营许可证：<a href="https://static.ypzdw.com/base/img/card2.jpg" class="green" target="_blank">川B2-20100176</a>
	        	互联网药品信息服务资格证书：<a href="https://static.ypzdw.com/base/img/card3.jpg" class="green" target="_blank">(川)-经营性-2010-0005</a>
	        	互联网药品交易服务资格证：<a href="https://static.ypzdw.com/base/img/ACertificate.jpg" class="green" target="_blank">国A20140002</a>
	        	公安机关备案号：51019002000207
        	</p>
	        <p class="txt"><span class="gray fontBold">Copyright ©2011-2015 www.ypzdw.com All rights reserved.</span> 版权所有:<a href="https://www.ypzdw.com">药品终端网</a></p>
	        <p class="imgbox">
	            <a rel="external nofollow" target="_blank" href="https://www.miitbeian.gov.cn">
	                <img width="108" height="40" src="https://static2.ypzdw.com/shop/images/base/b-1.gif" alt="备案信息">
	            </a>
	            <a id="kx_verify" style="display:inline-block;" kx_type="图标式" target="_blank" tabindex="-1" href="https://ss.knet.cn/verifyseal.dll?sn=e14060451010049666w4h8000000&ct=df&a=1&pa=0.2999223814278642">
	                <img alt="可信网站" oncontextmenu="return false;" style="border:none;" width="108" height="40" src="https://static2.ypzdw.com/shop/images/base/cnnic.png">
	            </a>
	            <a rel="external nofollow" target="_blank" href="https://search.szfw.org/cert/l/CX20140812008666008761">
	                <img alt="诚信网站" src="https://static2.ypzdw.com/shop/images/base/cxlogo.png" width="108" height="40">
	            </a>
	        </p>
	    </div>
	</div>
</body>
</html>