<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>YPZDW</title>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
    <div class="wrapper">
    	<div class="header">
	    	<div class="inner">
	    		<div class="logo">
	    			<img src="../pics/yw_modifymobile_logo.png" alt="YPZDW" class="l-pic">
	    		</div>

	    		<div class="concat">
	    			<p class="tel">
	    				<i class="phone-ic"></i>
	    				<span class="phone-nb">400-891-9920</span>
	    			</p>
	    			<p class="qq">
	    				<a href="" class="qq-link">
		    				<i class="qq-ic"></i>
		    				<span class="qq-nb">在线客服</span>
	    				</a>
					</p>
	    		</div>

	    		<div class="userinfo">
	    			<p>欢迎登录， tb0556</p>&ensp;|<p class="logout">&ensp;退出</p>
	    		</div>
	    	</div>
    	</div>
    	<div class="content">
    		<div class="inner">
    			<div class="tit">
    				<ul class="progess-steps">
    					<li class="step completed">
    						验证身份
    					</li>
    					<li class="step completed">
    						确认/修改手机号
    					</li>
    					<li class="step completed">
    						确定手机帐号密码
    					</li>
    					<li class="step doing">
    						完成
    					</li>
    				</ul>
    			</div>
    			<div class="ct">
					<!-- complete -->
					<ul class="mobile-items complete">
						<!-- rewrite password -->
						<li class="item hide">
							<div class="up">
								<h2 class="tit">
									密码确认完成
								</h2>
								<p class="words">
									该密码可用于<span class="red">登录药品终端网、药豆终端宝及其他药王科技平台</span>
									<br />
									(打开终端宝时请使用新的密码登录)
								</p>
							</div>
							<p class="btn-group">
								<span class="btn">去登录</span>
							</p>
						</li>
						<!-- direct successly -->
						<li class="item hide">
							<div class="up">
								<h2 class="tit"></h2>
								<p class="words">
									该手机号码（18288555555）可用于登录<span class="red">药品终端网、药豆终端宝及其他药王科技平台</span>，登录密码与您登录终端宝的密码一致
								</p>
							</div>
							<p class="btn-group">
								<span class="btn">完成</span>
							</p>
						</li>
						<!-- modify mobile success -->
						<li class="item">
							<div class="up">
								<h2 class="tit">手机号码修改完成</h2>
								<p class="words">
									该手机号码（18288555555）可用于登录<span class="red">药品终端网、药豆终端宝及其他药王科技平台</span>，登录密码与您登录终端宝的密码一致
								</p>
							</div>
							<p class="btn-group">
								<span class="btn">去登录</span>
							</p>
						</li>
					</ul>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="y-footer">
	    <div class="y-layout">
	        <p class="link">
	            <a href="https://company.ypzdw.com" target="_blank">关于我们</a>
	            <span>|</span>
	            <a href="https://company.ypzdw.com/Contact.html" target="_blank">联系我们</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/Help?id=35" target="_blank">商家入驻</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/Help?id=114" target="_blank">支付方式</a>
	            <span>|</span>
	            <a href="https://www.ypzdw.com/DaoHang" target="_blank">网站导航</a>
	            <span>|</span>
	            <a href="https://company.ypzdw.com/recruit.html" target="_blank">诚聘英才</a>
	        </p>
	        <p class="txt">
	        	增值电信业务经营许可证：<a href="https://static.ypzdw.com/base/img/card2.jpg" class="green" target="_blank">川B2-20100176</a>
	        	互联网药品信息服务资格证书：<a href="https://static.ypzdw.com/base/img/card3.jpg" class="green" target="_blank">(川)-经营性-2010-0005</a>
	        	互联网药品交易服务资格证：<a href="https://static.ypzdw.com/base/img/ACertificate.jpg" class="green" target="_blank">国A20140002</a>
	        	公安机关备案号：51019002000207
        	</p>
	        <p class="txt"><span class="gray fontBold">Copyright ©2011-2015 www.ypzdw.com All rights reserved.</span> 版权所有:<a href="https://www.ypzdw.com">药品终端网</a></p>
	        <p class="imgbox">
	            <a rel="external nofollow" target="_blank" href="https://www.miitbeian.gov.cn">
	                <img width="108" height="40" src="https://static2.ypzdw.com/shop/images/base/b-1.gif" alt="备案信息">
	            </a>
	            <a id="kx_verify" style="display:inline-block;" kx_type="图标式" target="_blank" tabindex="-1" href="https://ss.knet.cn/verifyseal.dll?sn=e14060451010049666w4h8000000&ct=df&a=1&pa=0.2999223814278642">
	                <img alt="可信网站" oncontextmenu="return false;" style="border:none;" width="108" height="40" src="https://static2.ypzdw.com/shop/images/base/cnnic.png">
	            </a>
	            <a rel="external nofollow" target="_blank" href="https://search.szfw.org/cert/l/CX20140812008666008761">
	                <img alt="诚信网站" src="https://static2.ypzdw.com/shop/images/base/cxlogo.png" width="108" height="40">
	            </a>
	        </p>
	    </div>
	</div>
</body>
</html>