<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>TaxTips</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
	<input type="hidden" value="11" id="UserId">
	<input type="hidden" value="0" id="isTaxSetted">
    <!-- <div id="maskForTax">
    	<div class="content">
    		<span class="close" id="y_taxClose"></span>
	    	<div class="inner">
	    		<p class="wordsTips">
	    			亲，请及时更新发票资料，以便您更快收到发票！
	    		</p>
	    		<div class="btn_group">
	    			<a class="btn" id="y_taxGoto" href="">前往更新发票资料</a>
	    		</div>
	    	</div>
    	</div>
    </div> -->
</body>
</html>