<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>14year</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
<!-- header -->
<div class="header ht_860">
	<div class="goShop wd_1090 auto txt_r" style="padding-top:690px;">
		<a class="btn bg_orange c46 fs_20 pd_2 pd_l_20 pd_r_20" href="https://scbctyy.ypzdw.com/" target="_blank">进入店铺</a>
	</div>
</div>
<!-- setion1 -->
<div class="boomGoods wd_1090 auto">
	<h2 class="ht_200 white txt_c fs_24" style="line-height:1.4;">
		<span class="dis_b pd_t_30">据<strong class="orange">&ensp;劲爆开抢&ensp;</strong>还有</span>
		<span class="dis_b" style="text-indent:-4px;"><em class="time">0</em>天<em class="time">0</em><em class="time">0</em>小时</span>
	</h2>
	<ul class="list_goods auto txt_j">
		<!-- <li class="wrap_middle wd_246 dis_ib">
			<div class="item_goods bg_white wd_i">
				<a href="" class="pic_item dis_b wrap_middle txt_c"><img src="" alt=""></a>
				<p class="fs_16 txt_of_e"><a href="">云南白药创可贴</a></p>
				<p class="fs_12 txt_of_e">规格：1.5cm*2.3cm*100片<strong class="red">(限购20)</strong></p>
				<p class="fs_12 txt_of_e">厂家：云南白药集团无锡药业有限公司</p>
				<p class="fs_20 red keepblank">￥11.80  <em class="fs_12 c99 txt_dct_lt">12.60</em></p>
			</div>
			<div class="btn_group wrap_middle bg_white wd_i txt_c pd_b_10 pd_t_10">
				<a class="btn wd_110 fs_16 pd_t_5 pd_b_5 bg_g9 btn_active">立即购买</a>
			</div>
		</li>
		<li class="wd_246 dis_ib vtc_t"></li> -->
	</ul>
</div>
<!-- setion2 -->
<div class="hotGoods wd_1090 auto">
	<h2 class="ht_114">
	</h2>
	<ul class="list_goods auto txt_j">
		<!-- <li class="wrap_middle wd_246 dis_ib">
			<div class="item_goods bg_white wd_i">
				<a href="" class="pic_item dis_b wrap_middle txt_c"><img src="" alt=""></a>
				<p class="fs_16 txt_of_e"><a href="">云南白药创可贴</a></p>
				<p class="fs_12 txt_of_e">规格：1.5cm*2.3cm*100片<strong class="red">(限购20)</strong></p>
				<p class="fs_12 txt_of_e">厂家：云南白药集团无锡药业有限公司</p>
				<p class="fs_20 red keepblank">￥11.80  <em class="fs_12 c99 txt_dct_lt">12.60</em></p>
			</div>
			<div class="btn_group wrap_middle bg_white wd_i txt_c pd_b_10 pd_t_10">
				<a class="btn wd_110 fs_16 pd_t_5 pd_b_5 bg_g9 btn_active">立即购买</a>
			</div>
		</li>
		<li class="wd_246 dis_ib vtc_t"></li> -->
	</ul>
</div>
<!-- setion3 -->
<div class="finallyGoods wd_1090 auto">
	<h2 class="ht_196 white txt_c fs_24" style="line-height:1.4;">
		<span class="dis_b pd_t_30">据<strong class="orange">&ensp;劲爆开抢&ensp;</strong>还有</span>
		<span class="dis_b" style="text-indent:-4px;"><em class="time">0</em>天<em class="time">0</em><em class="time">0</em>小时</span>
	</h2>
	<div class="content_fornt ht_618"></div>
	<div class="content_mian">
		<div class="list auto">
			<h2 class="txt_c bg_orange">以下品种，单笔订单累计够满24盒及以上，送收银台展一个</h2>
			<ul class="list_setion bg_white fl_l ht_226">
				<li class="txt_c wd_25P">
					<a class="wrap_img wrap_middle" href="https://scbctyy.ypzdw.com/21665/754090" target="_blank">
						<img class="wd_max180" src="../pics/item1.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/21665/754090" target="_blank">查看详情</a>
				</li>
				<li class="txt_c wd_25P">
					<a class="wrap_img wrap_middle pd_l_30" href="https://scbctyy.ypzdw.com/21665/754086" target="_blank">
						<img class="wd_max180" src="../pics/item2.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/21665/754086" target="_blank">查看详情</a>
				</li>
				<li class="txt_c wd_25P">
					<a class="wrap_img wrap_middle pd_l_10" href="https://scbctyy.ypzdw.com/21665/754087" target="_blank">
						<img class="wd_max180" src="../pics/item3.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/21665/754087" target="_blank">查看详情</a>
				</li>
				<li class="txt_c wd_25P">
					<a class="wrap_img wrap_middle pd_l_20" href="https://scbctyy.ypzdw.com/21665/754083" target="_blank">
						<img class="wd_max180" src="../pics/item4.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/21665/754083" target="_blank">查看详情</a>
				</li>
			</ul>
			<div class="prize_free fl_l bg_white ht_226 wrap_middle txt_c">
				<img class="wd_max220" src="../pics/prize1.png" alt="">
			</div>
		</div>

		<div class="list auto">
			<h2 class="txt_c bg_orange">以下品种，每买一支，送手洗专用洗衣液（250g）一袋</h2>
			<ul class="list_setion bg_white fl_l ht_226">
				<li class="txt_c wd_33P">
					<a class="wrap_img wrap_middle" href="https://scbctyy.ypzdw.com/21665/743183" target="_blank">
						<img class="wd_max240" src="../pics/item5.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/21665/743183" target="_blank">查看详情</a>
				</li>
				<li class="txt_c wd_33P">
					<a class="wrap_img wrap_middle" href="https://scbctyy.ypzdw.com/21665/743181" target="_blank">
						<img class="wd_max240" src="../pics/item6.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/21665/743181" target="_blank">查看详情</a>
				</li>
				<li class="txt_c wd_33P">
					<a class="wrap_img wrap_middle" href="https://scbctyy.ypzdw.com/21665/743176" target="_blank">
						<img class="wd_max240" src="../pics/item7.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/21665/743176" target="_blank">查看详情</a>
				</li>
			</ul>
			<div class="prize_free fl_l bg_white ht_226 wrap_middle txt_c">
				<img class="wd_max220" src="../pics/prize2.png" alt="">
			</div>
		</div>

		<div class="list auto">
			<ul class="list_setion fl_l ht_252">
				<li class="txt_c wd_180 bg_white mg_r_5">
					<h2 class="bg_orange c46">单笔订单购满2提，送18元优惠券一张</h2>
					<a class="wrap_img wrap_middle" href="https://scbctyy.ypzdw.com/10668/615371" target="_blank">
						<img class="wd_max180" src="../pics/item8.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/10668/615371" target="_blank">查看详情</a>
				</li>
				<li class="txt_c wd_180 bg_white mg_r_5">
					<h2 class="bg_orange c46">单笔订单购满10盒+邦迪1盒，送18元优惠券一张</h2>
					<a class="wrap_img wrap_middle" href="https://scbctyy.ypzdw.com/10668/385285" target="_blank">
						<img class="wd_max180" src="../pics/item9.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/10668/385285" target="_blank">查看详情</a>
				</li>
				<li class="txt_c wd_180 bg_white mg_r_5">
					<h2 class="bg_orange c46">单笔订单购满5瓶+邦迪1盒，送18元优惠券一张</h2>
					<a class="wrap_img wrap_middle" href="https://scbctyy.ypzdw.com/10668/472725" target="_blank">
						<img class="wd_max180" src="../pics/item10.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/10668/472725" target="_blank">查看详情</a>
				</li>
				<li class="txt_c wd_180 bg_white mg_r_5">
					<h2 class="bg_orange c46">单笔订单购满8瓶+邦迪1盒，送18元优惠券一张</h2>
					<a class="wrap_img wrap_middle" href="https://scbctyy.ypzdw.com/10668/665812" target="_blank">
						<img class="wd_max180" src="../pics/item11.png" alt="">
					</a>
					<a class="btn bg_orange bd_none c46 bd_ra_0" href="https://scbctyy.ypzdw.com/10668/665812" target="_blank">查看详情</a>
				</li>
			</ul>
			<div class="prize_free fl_l ht_252 wrap_middle txt_c">
				<img class="wd_max220" src="../pics/prize3.png" alt="">
			</div>
		</div>
	</div>
	<div class="content_point">
		<h2 class="ht_110"></h2>
		<ul class="list_goods auto txt_j pd_l_20">
			<!-- <li class="wrap_middle wd_246 dis_ib">
				<div class="item_goods bg_white wd_i">
					<a href="" class="pic_item dis_b wrap_middle txt_c"><img src="" alt=""></a>
					<p class="fs_16 txt_of_e"><a href="">云南白药创可贴</a></p>
					<p class="fs_12 txt_of_e">规格：1.5cm*2.3cm*100片<strong class="red">(限购20)</strong></p>
					<p class="fs_12 txt_of_e">厂家：云南白药集团无锡药业有限公司</p>
					<p class="fs_20 red keepblank">￥11.80  <em class="fs_12 c99 txt_dct_lt">12.60</em></p>
				</div>
				<div class="btn_group wrap_middle bg_white wd_i txt_c pd_b_10 pd_t_10">
					<a class="btn wd_110 fs_16 pd_t_5 pd_b_5 bg_g9 btn_active">立即购买</a>
				</div>
			</li>
			<li class="wd_246 dis_ib vtc_t"></li> -->
	    </ul>
	</div>
	<div class="content_end ht_1800"></div>
</div>
<!-- script -->
<script src="https://www.ypzdw.com/api/common/GetServerTime"></script>
<script type="text/javascript" src="https://static2.ypzdw.com/shop/js/promotion.js"></script>
</body>
</html>