<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>reactUI</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>

	<div class="login"></div>
	<div class="formControl"></div>
	<div class="Icon"></div>
    <div class="btns"></div>
    <div class="switch"></div>
    <div class="checkBox"></div>
    <div class="Input"></div>
    <div class="select"></div>
    <div class="radio"></div>
    <div class="Datepicker"></div>
</body>
</html>