@charset "UTF-8";
@import url(../libs/mCustomScrollbar/jquery.mCustomScrollbar.css);
.y-layout, .yAd-bar {
  margin: auto;
  width: 1190px;
}

.row > .col-1, .row > .col-2, .row > .col-3, .row > .col-4, .row > .col-5, .row > .col-6, .row > .col-7, .row > .col-8, .row > .col-9, .row > .col-10, .row > .col-11, .row > .col-12, .row > .col-13, .row > .col-14, .row > .col-15, .row > .col-16, .row > .col-17, .row > .col-18, .row > .col-19, .row > .col-20, .row > .col-21, .row > .col-22, .row > .col-23, .row > .col-24 {
  float: left;
  display: inline;
}

.y-layout, .yAd-bar, .row, .y-header, .y-search, .y-nav, .y-nav .item-sort, .y-nav .item-sort dt, .y-shortcut, .y-shortcut ul > li.dorpdown .area, .y-service, .y-sidebar-tab .y-login .form-li, .sidebar-bd-my > .my-amount > ul, .sidebar-bd-my > .my-order, .sidebar-bd-my .my-coupon, .sidebar-bd-cart .sidebar-goods-list > dl, .sidebar-bd-cart .sidebar-goods-list dt, .sidebar-bd-cart .total, .p-login .login-wrap .form-li {
  *zoom: 1;
}

.y-layout:before, .yAd-bar:before, .row:before, .y-header:before, .y-search:before, .y-nav:before, .y-nav .item-sort:before, .y-nav .item-sort dt:before, .y-shortcut:before, .y-shortcut ul > li.dorpdown .area:before, .y-service:before, .y-sidebar-tab .y-login .form-li:before, .sidebar-bd-my > .my-amount > ul:before, .sidebar-bd-my > .my-order:before, .sidebar-bd-my .my-coupon:before, .sidebar-bd-cart .sidebar-goods-list > dl:before, .sidebar-bd-cart .sidebar-goods-list dt:before, .sidebar-bd-cart .total:before, .p-login .login-wrap .form-li:before, .y-layout:after, .yAd-bar:after, .row:after, .y-header:after, .y-search:after, .y-nav:after, .y-nav .item-sort:after, .y-nav .item-sort dt:after, .y-shortcut:after, .y-shortcut ul > li.dorpdown .area:after, .y-service:after, .y-sidebar-tab .y-login .form-li:after, .sidebar-bd-my > .my-amount > ul:after, .sidebar-bd-my > .my-order:after, .sidebar-bd-my .my-coupon:after, .sidebar-bd-cart .sidebar-goods-list > dl:after, .sidebar-bd-cart .sidebar-goods-list dt:after, .sidebar-bd-cart .total:after, .p-login .login-wrap .form-li:after {
  content: "";
  display: table;
}

.y-layout:after, .yAd-bar:after, .row:after, .y-header:after, .y-search:after, .y-nav:after, .y-nav .item-sort:after, .y-nav .item-sort dt:after, .y-shortcut:after, .y-shortcut ul > li.dorpdown .area:after, .y-service:after, .y-sidebar-tab .y-login .form-li:after, .sidebar-bd-my > .my-amount > ul:after, .sidebar-bd-my > .my-order:after, .sidebar-bd-my .my-coupon:after, .sidebar-bd-cart .sidebar-goods-list > dl:after, .sidebar-bd-cart .sidebar-goods-list dt:after, .sidebar-bd-cart .total:after, .p-login .login-wrap .form-li:after {
  clear: both;
}

.sidebar-bd-my > .my-title b, .sidebar-bd-cart .sidebar-goods-list dd .info .title, .sidebar-bd-cart .sidebar-goods-list dd .info .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row > .col-1, .row > .col-2, .row > .col-3, .row > .col-4, .row > .col-5, .row > .col-6, .row > .col-7, .row > .col-8, .row > .col-9, .row > .col-10, .row > .col-11, .row > .col-12, .row > .col-13, .row > .col-14, .row > .col-15, .row > .col-16, .row > .col-17, .row > .col-18, .row > .col-19, .row > .col-20, .row > .col-21, .row > .col-22, .row > .col-23, .row > .col-24 {
  margin-right: 0.83333%;
  *margin-right: 0.78333%;
}

.row {
  margin-right: -10px;
}

.row > .col-1 {
  width: 3.33333%;
  *width: 3.28333%;
}

.row > .col-2 {
  width: 7.5%;
  *width: 7.45%;
}

.row > .col-3 {
  width: 11.66667%;
  *width: 11.61667%;
}

.row > .col-4 {
  width: 15.83333%;
  *width: 15.78333%;
}

.row > .col-5 {
  width: 20%;
  *width: 19.95%;
}

.row > .col-6 {
  width: 24.16667%;
  *width: 24.11667%;
}

.row > .col-7 {
  width: 28.33333%;
  *width: 28.28333%;
}

.row > .col-8 {
  width: 32.5%;
  *width: 32.45%;
}

.row > .col-9 {
  width: 36.66667%;
  *width: 36.61667%;
}

.row > .col-10 {
  width: 40.83333%;
  *width: 40.78333%;
}

.row > .col-11 {
  width: 45%;
  *width: 44.95%;
}

.row > .col-12 {
  width: 49.16667%;
  *width: 49.11667%;
}

.row > .col-13 {
  width: 53.33333%;
  *width: 53.28333%;
}

.row > .col-14 {
  width: 57.5%;
  *width: 57.45%;
}

.row > .col-15 {
  width: 61.66667%;
  *width: 61.61667%;
}

.row > .col-16 {
  width: 65.83333%;
  *width: 65.78333%;
}

.row > .col-17 {
  width: 70%;
  *width: 69.95%;
}

.row > .col-18 {
  width: 74.16667%;
  *width: 74.11667%;
}

.row > .col-19 {
  width: 78.33333%;
  *width: 78.28333%;
}

.row > .col-20 {
  width: 82.5%;
  *width: 82.45%;
}

.row > .col-21 {
  width: 86.66667%;
  *width: 86.61667%;
}

.row > .col-22 {
  width: 90.83333%;
  *width: 90.78333%;
}

.row > .col-23 {
  width: 95%;
  *width: 94.95%;
}

.row > .col-24 {
  width: 99.16667%;
  *width: 99.11667%;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */
}

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 12px;
  /* 0 */
  line-height: 1.5;
  /* 0 */
  color: #333;
  /* 0 */
  background-color: #fff;
  /* 0 */
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  /* 3 */
  *zoom: 1;
  /* 3 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #666;
}

a:active, a:hover {
  outline: 0;
  /* 2 */
}

a:hover {
  color: #77c552;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */
}

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  _font-family: 'courier new', monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  outline: none;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", "SimSun", Helvetica, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 15.6px;
}

h3 {
  font-size: 14.04px;
}

h4 {
  font-size: 12px;
}

h5, h6 {
  font-size: 10.2px;
  text-transform: uppercase;
}

.psabsolute {
  position: absolute;
}

.psrelative {
  position: relative;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.fontBold {
  font-weight: bold !important;
}

.black {
  color: #000 !important;
}

.grayDarker {
  color: #333 !important;
}

.grayDark {
  color: #666 !important;
}

.gray {
  color: #ababab !important;
}

.grayLight {
  color: #ddd !important;
}

.white {
  color: #fff !important;
}

.red {
  color: #ff3434 !important;
}

.blue {
  color: #3e6edf !important;
}

.blueDark {
  color: #0064cd !important;
}

.orange {
  color: #F47837 !important;
}

.green {
  color: #76c552 !important;
}

.yellow {
  color: #ffc40d !important;
}

.pink {
  color: #c3325f !important;
}

.purple {
  color: #7a43b6 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ababab;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ababab;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ababab;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ababab;
}

@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.eot");
  /* IE9*/
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yaoding:before {
  content: "\e601";
}

.icon-naiping:before {
  content: "\e621";
}

.icon-yiliao:before {
  content: "\e602";
}

.icon-mima:before {
  content: "\e61a";
}

.icon-tao:before {
  content: "\e604";
}

.icon-jiudianchabao:before {
  content: "\e606";
}

.icon-85:before {
  content: "\e60d";
}

.icon-chawuliu:before {
  content: "\e615";
}

.icon-renzheng:before {
  content: "\e617";
}

.icon-shanchu:before {
  content: "\e61d";
}

.icon-dingdan:before {
  content: "\e61c";
}

.icon-pingtaibaozhang:before {
  content: "\e618";
}

.icon-zhifuchenggong:before {
  content: "\e613";
}

.icon-denglu:before {
  content: "\e61b";
}

.icon-daifukuan:before {
  content: "\e61e";
}

.icon-iconfonthuazhuangpin:before {
  content: "\e607";
}

.icon-yaojiaonang:before {
  content: "\e608";
}

.icon-wodedingdan:before {
  content: "\e60e";
}

.icon-chuangkoutiekfuzhi:before {
  content: "\e60c";
}

.icon-youjiantoubeijing:before {
  content: "\e605";
}

.icon-fahuodingdan02:before {
  content: "\e611";
}

.icon-daishouhuo:before {
  content: "\e61f";
}

.icon-unie63f:before {
  content: "\e609";
}

.icon-caiyixiu092213:before {
  content: "\e60a";
}

.icon-anquanbaozhang:before {
  content: "\e619";
}

.icon-pingjia:before {
  content: "\e616";
}

.icon-666:before {
  content: "\e600";
}

.icon-yao:before {
  content: "\e60b";
}

.icon-shangchengicon07:before {
  content: "\e60f";
}

.icon-shouhuo:before {
  content: "\e623";
}

.icon-weibiaoti2:before {
  content: "\e622";
}

.icon-list:before {
  content: "\e603";
}

.icon-fukuan:before {
  content: "\e620";
}

.icon-gouwuche1:before {
  content: "\e612";
}

.icon-zizhirenzheng:before {
  content: "\e610";
}

.icon-jiesuanzhanghux:before {
  content: "\e614";
}

.icon-down:before {
  content: "\e625";
}

.icon-up:before {
  content: "\e626";
}

.icon-down01:before {
  content: "\e624";
}

.icon-up01:before {
  content: "\e627";
}

.icon-duihaocheckmark17:before {
  content: "\e628";
}

.ico_main {
  background: url(../images/base/ico_main.png) no-repeat;
}

.ico_arrows_right {
  height: 12px;
  width: 6px;
  background-position: 0 0;
}

.ico_bg_border_radius_left {
  height: 20px;
  width: 8px;
  background-position: 0 -12px;
}

.ico_bg_border_radius_right {
  height: 20px;
  width: 8px;
  background-position: 0 -32px;
}

.ico_menu_3 {
  height: 16px;
  width: 9px;
  background-position: 0 -52px;
}

.ico_close_1 {
  height: 11px;
  width: 11px;
  background-position: 0 -68px;
}

.ico_arrows_right2 {
  height: 23px;
  width: 11px;
  background-position: 0 -79px;
}

.ico_menu_4 {
  height: 16px;
  width: 12px;
  background-position: 0 -102px;
}

.ico_menu_2 {
  height: 16px;
  width: 12px;
  background-position: 0 -118px;
}

.ico_menu_7 {
  height: 16px;
  width: 12px;
  background-position: 0 -134px;
}

.ico_menu_5 {
  height: 16px;
  width: 14px;
  background-position: 0 -150px;
}

.ico_phone_2 {
  height: 16px;
  width: 15px;
  background-position: 0 -166px;
}

.ico_menu_1 {
  height: 17px;
  width: 16px;
  background-position: 0 -182px;
}

.ico_list {
  height: 11px;
  width: 16px;
  background-position: 0 -199px;
}

.ico_word {
  height: 16px;
  width: 16px;
  background-position: 0 -210px;
}

.ico_menu_8 {
  height: 16px;
  width: 16px;
  background-position: 0 -226px;
}

.ico_menu_6 {
  height: 14px;
  width: 16px;
  background-position: 0 -242px;
}

.ico_powerpoint {
  height: 16px;
  width: 16px;
  background-position: 0 -256px;
}

.ico_excel {
  height: 16px;
  width: 16px;
  background-position: 0 -272px;
}

.ico_go {
  height: 16px;
  width: 16px;
  background-position: 0 -288px;
}

.ico_pdf {
  height: 16px;
  width: 16px;
  background-position: 0 -304px;
}

.ico_my_white {
  height: 24px;
  width: 24px;
  background-position: 0 -320px;
}

.ico_my_gray {
  height: 24px;
  width: 24px;
  background-position: 0 -344px;
}

.ico_chart_white {
  height: 23px;
  width: 24px;
  background-position: 0 -368px;
}

.ico_code_white {
  height: 24px;
  width: 24px;
  background-position: 0 -391px;
}

.ico_code_black {
  height: 24px;
  width: 24px;
  background-position: 0 -415px;
}

.ico_chart_gray {
  height: 23px;
  width: 24px;
  background-position: 0 -439px;
}

.ico_bar_cart_gray {
  height: 18px;
  width: 24px;
  background-position: 0 -462px;
}

.ico_bar_cart_white {
  height: 18px;
  width: 24px;
  background-position: 0 -480px;
}

.ico_gotop {
  height: 14px;
  width: 25px;
  background-position: 0 -498px;
}

.ico_gotop_hover {
  height: 14px;
  width: 25px;
  background-position: 0 -512px;
}

.ico_phone {
  height: 28px;
  width: 28px;
  background-position: 0 -526px;
}

.ico_prev_small {
  height: 50px;
  width: 30px;
  background-position: 0 -554px;
}

.ico_next_small {
  height: 50px;
  width: 30px;
  background-position: 0 -604px;
}

.ico_next_small_hover {
  height: 50px;
  width: 30px;
  background-position: 0 -654px;
}

.ico_prev_small_hover {
  height: 50px;
  width: 30px;
  background-position: 0 -704px;
}

.ico_zi {
  height: 42px;
  width: 38px;
  background-position: 0 -754px;
}

.ico_baozhuang {
  height: 42px;
  width: 38px;
  background-position: 0 -796px;
}

.ico_jian {
  height: 42px;
  width: 42px;
  background-position: 0 -838px;
}

.ico_peifu {
  height: 42px;
  width: 42px;
  background-position: 0 -880px;
}

.ico_renzheng {
  height: 32px;
  width: 43px;
  background-position: 0 -922px;
}

.ico_seller_level {
  margin-left: 2px;
  background: url(../images/base/ico_seller_level.png) no-repeat;
}

.seller_level_4 {
  height: 13px;
  width: 16px;
  background-position: 0 0;
}

.seller_level_5 {
  height: 16px;
  width: 16px;
  background-position: 0 -13px;
}

.seller_level_6 {
  height: 16px;
  width: 16px;
  background-position: 0 -29px;
}

.seller_level_1 {
  height: 13px;
  width: 16px;
  background-position: 0 -45px;
}

.seller_level_2 {
  height: 13px;
  width: 16px;
  background-position: 0 -58px;
}

.seller_level_3 {
  height: 16px;
  width: 18px;
  background-position: 0 -71px;
}

.buyer_level_1 {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../images/base/level_buyer_1.gif) no-repeat;
  vertical-align: middle;
}

.buyer_level_2 {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../images/base/level_buyer_2.gif) no-repeat;
  vertical-align: middle;
}

.buyer_level_3 {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../images/base/level_buyer_3.gif) no-repeat;
  vertical-align: middle;
}

.buyer_level_4 {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../images/base/level_buyer_3.gif) no-repeat;
  vertical-align: middle;
}

.ico_attestation, .ico_unattestation {
  display: inline-block;
  margin-right: 4px;
  padding: 0 5px;
  height: 23px;
  line-height: 23px;
  background-color: #77c552;
  color: #fff;
  font-size: 12px;
  font-style: normal;
}

.ico_attestation .iconfont, .ico_unattestation .iconfont {
  margin-right: 5px;
  font-size: 12px;
}

.ico_unattestation {
  background-color: #e3e3e2;
}

.ico_rx {
  position: absolute;
  right: -15px;
  top: 6px;
  display: block;
  width: 28px;
  height: 16px;
  background: url(../images/base/ico_rx.png) no-repeat;
}

.ico_hot {
  position: absolute;
  right: -10px;
  top: 6px;
  display: block;
  width: 23px;
  height: 11px;
  background: url(../images/base/ico_hot.png) no-repeat;
}

/****************************************************
 * 布局样式：框架、头部、MINI头部、底部、购物车、登录
****************************************************/
/**	
 * 主框架
 * 全局模块以 .y-开头
**/
.yAd-top {
  background-color: #1075e7;
}

.yAd-top .yAd-in {
  margin-top: 0;
  position: relative;
}

.yAd-top .yAd-in .yAd-top-0 {
  overflow: hidden;
  display: none;
}

.yAd-top .yAd-in .yAd-top-1 {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 500px;
  z-index: 2;
}

.yAd-bar {
  overflow: hidden;
}

.yAd-in {
  position: relative;
  margin-top: 20px;
  margin-right: -10px;
}

.yAd-in a {
  float: left;
  margin-right: 10px;
}

.y-layer-shade {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../images/base/black_opacity_60.png) repeat;
  z-index: 999;
}

.y-guide-box {
  position: relative;
  background-color: #fff;
  z-index: 1000 !important;
}

.y-guide-info {
  position: absolute;
  z-index: 1001;
}

.y-guide-info a {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 48px;
  width: 100%;
  background: none;
}

.y-btn-close {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/base/btn_close_big.png) no-repeat;
}

.btn-layer-close {
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  font-family: "SimSun";
  z-index: 99;
  color: #bbb;
}

.btn-layer-close:hover {
  color: #76c552;
}

.loading-small, .loading-middle, .loading-large {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.loading-small {
  background: url(../images/base/loading.gif) center center no-repeat;
}

.loading-middle {
  background: url(../images/base/loading.gif) center center no-repeat;
}

.loading-large {
  background: url(../images/base/loading.gif) center center no-repeat;
}

/**	
 * 通用头部
 * 全局模块以 .y-开头
**/
.y-header {
  position: relative;
  border-bottom: 2px solid #efefef;
  background-color: #fff;
}

.y-logo {
  float: left;
  margin-top: 38px;
  width: 194px;
  height: 48px;
  overflow: hidden;
}

.y-logo a {
  display: block;
}

.y-search {
  position: absolute;
  left: 257px;
  top: 39px;
  width: 570px;
  height: 40px;
}

.y-search .input-search {
  float: left;
  padding: 0 10px 0 60px;
  width: 418px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #77c552;
  border-right: none;
  font-size: 14px;
  overflow: hidden;
}

.y-search .btn-search {
  float: left;
  width: 80px;
  height: 40px;
  border: none;
  background-color: #77c552;
  color: #fff;
  font-size: 16px;
}

.y-search .dropdown {
  position: absolute;
  left: 2px;
  top: 2px;
  line-height: 33px;
  font-family: "SimSun";
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 9;
}

.y-search .dropdown:hover {
  border-color: #dedede;
}

.y-search .dropdown .iconfont {
  margin-top: 4px;
  margin-left: 4px;
  color: #666;
  font-size: 12px;
}

.y-search .dropdown .dt {
  padding-left: 8px;
  cursor: pointer;
}

.y-search .dropdown .dd {
  display: none;
  padding-left: 8px;
  background-color: #fff;
}

.y-search .dropdown.on .dd {
  display: block;
}

.y-search .serach-list {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  width: 487px;
  border: 2px solid #77c552;
  border-top: none;
  font-family: "SimSun";
  background-color: #fff;
  z-index: 8;
}

.y-search .serach-list li {
  height: 30px;
  line-height: 30px;
}

.y-search .serach-list li a {
  display: block;
  padding: 0 18px;
}

.y-search .serach-list li a:hover {
  background-color: #efefef;
}

.y-search .serach-list li span {
  float: right;
  color: #bbb;
}

.y-search .hot-key {
  position: absolute;
  right: 80px;
  top: 12px;
  font-family: "SimSun";
}

.y-search .hot-key a {
  float: left;
  display: block;
  margin-right: 8px;
  padding: 0 5px;
  height: 18px;
  line-height: 18px;
  background-color: #e5e5e5;
}

.y-search .hot-key a:hover {
  background-color: #76c552;
  color: #fff;
}

.y-rightitem {
  float: right;
}

.y-rightitem .service-info {
  position: relative;
  float: left;
  margin-top: 18px;
  margin-right: 40px;
}

.y-rightitem .phone {
  line-height: 36px;
  font-size: 20px;
  color: #333;
}

.y-rightitem .service-qq {
  line-height: 36px;
  font-size: 14px;
  color: #666;
}

.y-rightitem .text {
  line-height: 18px;
  color: #999;
}

.y-rightitem .ico_phone {
  display: block;
  position: absolute;
  right: 0;
  top: 40px;
}

.y-rightitem .ico_qq_small {
  display: inline-block;
  margin-right: 4px;
  margin-top: -4px;
  width: 15px;
  height: 32px;
  background: url(../images/base/ico_qq_small.png) center center no-repeat;
  vertical-align: middle;
}

.y-rightitem .qrcode {
  float: left;
  margin-top: 26px;
  margin-right: 36px;
}

.y-rightitem .qrcode a {
  display: block;
  position: relative;
}

.y-rightitem .qrcode a:hover .show-code {
  display: block;
}

.y-rightitem .qrcode .show-code {
  display: none;
  position: absolute;
  right: -2px;
  top: -2px;
  z-index: 9;
}

.y-nav {
  margin-top: 18px;
  border-bottom: 1px solid #d6d6d6;
}

.y-nav .y-categorys {
  float: left;
  position: relative;
}

.y-nav .dt {
  width: 198px;
  height: 43px;
  line-height: 43px;
  border: 1px solid #ddd;
  border-bottom: none;
  font-size: 16px;
  text-align: center;
  text-indent: -10px;
}

.y-nav .dt a {
  display: block;
  height: 100%;
  color: #000;
}

.y-nav .dt a:hover {
  color: #000;
}

.y-nav .ico_list {
  display: inline-block;
  margin-right: 10px;
}

.y-nav .y-navitem {
  float: left;
}

.y-nav .y-navitem li {
  position: relative;
  float: left;
  margin-left: 44px;
  font-size: 16px;
}

.y-nav .y-navitem li > a {
  position: relative;
  display: block;
  padding: 0 14px;
  height: 42px;
  line-height: 46px;
  border-bottom: 3px solid #fff;
}

.y-nav .y-navitem li > a.selected {
  border-color: #77c552;
  color: #76c552;
}

.y-nav .dropdown-always .dd {
  display: block;
}

.y-nav .hover .dd {
  display: block;
}

.y-nav .dd {
  display: none;
  position: absolute;
  left: 0;
  top: 47px;
  width: 198px;
  border: 1px solid #ddd;
  border-top: none;
  border-top-color: #efefef;
  background-color: #fff;
  z-index: 9;
}

.y-nav .dd-list {
  height: 441px;
}

.y-nav .item-dt {
  position: relative;
  margin: 0 15px 0 12px;
  padding-right: 16px;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px dashed #e7e7e7;
  font-size: 14px;
  background-color: #fff;
  overflow: hidden;
}

.y-nav .item-dt.item-last {
  border-bottom: none;
}

.y-nav .item-dt.selected {
  margin: -1px -2px 0 -1px;
  padding: 0 31px 0 12px;
  border: 1px solid #77c552;
  border-right-color: #fff;
  z-index: 10;
}

.y-nav .item-dt.selected .ico_arrows_right {
  right: 16px;
}

.y-nav .item-dt.selected h3 a {
  color: #76c552;
}

.y-nav .item-dt.selected span {
  padding-right: 1px;
}

.y-nav .item-dt h3 {
  line-height: 54px;
}

.y-nav .item-dt h3 a {
  color: #333;
}

.y-nav .item-dt h3 a:hover {
  color: #76c552;
}

.y-nav .item-dt .ico_arrows_right {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
}

.y-nav .item-dt span {
  float: right;
  padding-left: 4px;
  color: #999;
  font-family: "SimSun";
  font-size: 12px;
}

.y-nav .item-dt .ico_main {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.y-nav .item-box {
  display: none;
  position: absolute;
  left: 199px;
  top: -1px;
  padding-bottom: 15px;
  width: 989px;
  min-height: 426px;
  background-color: #fff;
  border: 1px solid #77c552;
  z-index: 9;
  overflow: hidden;
}

.y-nav .item-sort {
  font-family: "SimSun";
}

.y-nav .item-sort .sort-list {
  margin-top: 10px;
  float: left;
  overflow: hidden;
}

.y-nav .item-sort dl {
  margin-left: 30px;
  margin-top: -1px;
  padding-bottom: 12px;
  width: 296px;
  border-top: 1px dashed #ddd;
  overflow: hidden;
}

.y-nav .item-sort dt {
  padding: 10px 0 1px;
  height: 14px;
  line-height: 14px;
  font-family: "Microsoft Yahei";
  font-weight: bold;
}

.y-nav .item-sort dt a {
  color: #76ac25;
}

.y-nav .item-sort dd {
  float: left;
  padding: 0 16px 0 8px;
  margin-top: 13px;
  margin-left: -8px;
  height: 12px;
  line-height: 12px;
  border-left: 1px solid #888;
}

.y-nav .item-sort dd a {
  color: #888;
}

.y-nav .item-sort dd a:hover {
  color: #76c552;
}

#yHeaderSmall {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: url(../images/base/white_opacity_90.png) repeat;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.y-small-header {
  position: relative;
  margin: 0 auto;
  width: 1190px;
}

.y-small-header .y-logo {
  margin-top: 10px;
  height: 33px;
}

.y-small-header .y-search {
  top: 10px;
  left: 257px;
  width: auto;
  height: 30px;
}

.y-small-header .y-search .input-search {
  width: 569px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #77c552;
}

.y-small-header .y-search .dropdown {
  top: 1px;
  left: 1px;
  line-height: 25px;
}

.y-small-header .y-search .btn-search {
  height: 30px;
  line-height: 30px;
}

.y-small-header .y-search .hot-key {
  top: 6px;
}

.y-small-header .y-search .serach-list {
  top: 30px;
  width: 639px;
  border-width: 1px;
}

/**	
 * 通用shortcut
 * 全局模块以 .y-开头
**/
.y-shortcut {
  height: 30px;
  line-height: 30px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d6d6d6;
  font-family: "SimSun";
}

.y-shortcut ul > li {
  float: left;
  position: relative;
}

.y-shortcut ul > li.line {
  margin-top: 10px;
  width: 1px;
  height: 12px;
  background-color: #666;
  overflow: hidden;
}

.y-shortcut ul > li i {
  margin-right: 10px;
  vertical-align: top;
}

.y-shortcut ul > li.dorpdown .dt {
  padding-right: 5px;
  padding-bottom: 1px;
  border-left: 1px solid  #f2f2f2;
  border-right: 1px solid  #f2f2f2;
}

.y-shortcut ul > li.dorpdown .area {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  padding: 7px 0 7px 20px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #e6e6e5;
  z-index: 99;
}

.y-shortcut ul > li.dorpdown .item {
  float: left;
  width: 60px;
  line-height: 24px;
}

.y-shortcut ul > li.dorpdown .item a {
  float: left;
  padding: 0 8px;
}

.y-shortcut ul > li.dorpdown .item a:hover {
  background-color: #76c552;
  color: #fff;
}

.y-shortcut ul > li.dorpdown .iconfont {
  margin-left: 8px;
  margin-right: 0;
  color: #aaacb4;
}

.y-shortcut ul > li.dorpdown:hover {
  background-color: #fff;
}

.y-shortcut ul > li.dorpdown:hover .dt {
  border-color: #e5e5e5;
}

.y-shortcut ul > li.dorpdown:hover .dd {
  display: block;
}

.y-shortcut ul > li.dorpdown:hover .area {
  border-top-color: #fff;
}

.y-shortcut ul > li.hover {
  background-color: #fff;
}

.y-shortcut ul > li.hover .area {
  display: block;
}

.y-shortcut ul > li.hover .dt {
  position: relative;
  border-color: #e6e6e5;
  background-color: #fff;
  z-index: 100;
}

.y-shortcut .dt {
  padding: 0 10px 0 8px;
}

.y-shortcut .dt em {
  display: inline-block;
  margin-left: 2px;
  padding: 0 5px;
  line-height: 16px;
  border-radius: 10px;
  background-color: #ff3434;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
}

/**	
 * 通用底部
 * 全局模块以 .y-开头
**/
.y-service {
  margin-top: 50px;
  padding: 40px 0;
  background-color: #333;
}

.y-service-list {
  float: left;
}

.y-service-list dl {
  float: left;
  margin-left: 56px;
  width: 88px;
}

.y-service-list dl a {
  line-height: 1;
  color: #fff;
}

.y-service-list dl a:hover {
  color: #76c552;
}

.y-service-list dt {
  display: block;
  margin: 13px 0 0;
  padding-bottom: 19px;
  font-size: 16px;
  color: #fff;
}

.y-service-list dd {
  display: block;
  margin-top: 11px;
  font-size: 14px;
}

.y-service-qrcode {
  float: right;
  margin-right: 45px;
  padding: 16px 16px 16px;
  width: 330px;
  height: 168px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.y-service-qrcode p {
  margin-bottom: 10px;
}

.y-footer {
  padding: 28px 0 40px;
  border-top: 1px solid #d6d6d6;
  text-align: center;
  background-color: #f8f8f8;
}

.y-footer .link {
  margin-bottom: 12px;
  color: #999;
}

.y-footer .link a {
  color: #999;
}

.y-footer .link a:hover {
  color: #76c552;
}

.y-footer .link span {
  padding: 0 4px;
}

.y-footer .txt {
  margin-bottom: 12px;
  color: #999;
}

.y-footer .txt a {
  color: #999;
}

.y-footer .txt a:hover {
  color: #76c552;
}

.y-footer .imgbox {
  margin-bottom: 12px;
}

.y-footer .imgbox a {
  margin-right: 7px;
}

/**	
 * 通用购物车
 * 全局模块以 .y-开头
**/
/**	
 * 通用侧边快速栏
 * 全局模块以 .y-开头
**/
#y-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 35px;
  background-color: #333;
  z-index: 99;
}

.y-sidebar-tab {
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.y-sidebar-tab .ico_main {
  display: inline-block;
}

.y-sidebar-tab .sidebar-my {
  padding: 18px 0;
  cursor: pointer;
}

.y-sidebar-tab .sidebar-my .ico_my_class {
  height: 24px;
  width: 24px;
  background-position: 0 -320px;
}

.y-sidebar-tab .sidebar-my:hover {
  background-color: #e5e5e5;
  color: #333;
}

.y-sidebar-tab .sidebar-my:hover > .ico_my_class {
  height: 24px;
  width: 24px;
  background-position: 0 -344px;
}

.y-sidebar-tab .sidebar-cart {
  position: relative;
  padding: 18px 0;
  cursor: pointer;
}

.y-sidebar-tab .sidebar-cart .ico_bar_cart_class {
  height: 18px;
  width: 24px;
  background-position: 0 -480px;
}

.y-sidebar-tab .sidebar-cart b {
  display: block;
  margin-top: 2px;
  width: 35px;
  text-align: center;
}

.y-sidebar-tab .sidebar-cart em {
  display: inline-block;
  padding: 0 6px;
  height: 20px;
  line-height: 18px;
  border-radius: 10px;
  background-color: #ff3434;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
}

.y-sidebar-tab .sidebar-cart:hover {
  background-color: #e5e5e5;
  color: #333;
}

.y-sidebar-tab .sidebar-cart:hover > .ico_bar_cart_class {
  height: 18px;
  width: 24px;
  background-position: 0 -462px;
}

.y-sidebar-tab .y-login {
  display: none;
  position: absolute;
  right: 35px;
  top: -1px;
  padding: 0 18px;
  width: 284px;
  height: 332px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #fff;
  text-align: left;
  -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
}

.y-sidebar-tab .y-login .title {
  padding: 30px 0 0;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.y-sidebar-tab .y-login .error-msg {
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  text-align: right;
  color: #ff3434;
}

.y-sidebar-tab .y-login .form-li {
  margin-bottom: 20px;
  height: 40px;
}

.y-sidebar-tab .y-login .form-li span {
  float: left;
  width: 40px;
  height: 38px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #e5e5e5;
  color: #999;
  font-size: 24px;
  text-align: center;
}

.y-sidebar-tab .y-login .input-text {
  float: left;
  padding: 0 10px;
  width: 217px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #ddd;
  color: #333;
}

.y-sidebar-tab .y-login .form-link {
  height: 16px;
  line-height: 16px;
  text-align: right;
  color: #757575;
}

.y-sidebar-tab .y-login .form-link span {
  padding: 0 3px;
}

.y-sidebar-tab .y-login .form-link.reg-link {
  text-align: left;
}

.y-sidebar-tab .y-login .form-link.reg-link a {
  color: #317ee7;
}

.y-sidebar-tab .y-login .form-link.reg-link a:hover {
  text-decoration: underline;
}

.y-sidebar-tab .y-login .btn-login {
  display: block;
  margin: 8px 0;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  color: #fff;
  background-color: #77c552;
  border: 1px solid #67a82b;
  text-align: center;
}

.y-sidebar-tab .y-login .btn-login:hover {
  background-color: #7bc15a;
}

.y-sidebar-tab .sidebar-online {
  position: relative;
  padding: 18px 0;
}

.y-sidebar-tab .sidebar-online .ico_chart_class {
  height: 23px;
  width: 24px;
  background-position: 0 -368px;
}

.y-sidebar-tab .sidebar-online .sidebar-online-show {
  display: none;
  position: absolute;
  right: 35px;
  top: -1px;
  padding: 26px 18px;
  width: 280px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.y-sidebar-tab .sidebar-online p {
  line-height: 24px;
  color: #666;
}

.y-sidebar-tab .sidebar-online p.mt14 {
  margin-top: 14px;
}

.y-sidebar-tab .sidebar-online .ico_qq_small {
  float: left;
  margin-top: 11px;
  margin-right: 4px;
  width: 15px;
  height: 17px;
  background: url(../images/base/ico_qq_small.png) no-repeat;
  vertical-align: middle;
}

.y-sidebar-tab .sidebar-online .time {
  font-size: 12px;
}

.y-sidebar-tab .sidebar-online .ico_phone_2 {
  display: inline-block;
  margin-top: -4px;
  margin-left: 5px;
  vertical-align: middle;
}

.y-sidebar-tab .sidebar-online .sidebar-online-qq a {
  display: block;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  color: #333;
}

.y-sidebar-tab .sidebar-online:hover {
  background-color: #fff;
  color: #333;
}

.y-sidebar-tab .sidebar-online:hover .sidebar-online-show {
  display: block;
}

.y-sidebar-tab .sidebar-online:hover .ico_chart_class {
  height: 23px;
  width: 24px;
  background-position: 0 -439px;
}

.y-sidebar-tab .selected {
  background-color: #e5e5e5;
  color: #333;
}

.y-sidebar-tab .selected > .ico_my_class {
  height: 24px;
  width: 24px;
  background-position: 0 -344px;
}

.y-sidebar-tab .selected > .ico_bar_cart_class {
  height: 18px;
  width: 24px;
  background-position: 0 -462px;
}

.y-sidebar-tab .selected > .ico_chart_class {
  height: 23px;
  width: 24px;
  background-position: 0 -439px;
}

.y-sidebar-tab .loginStyle {
  background-color: #fff;
  color: #333;
}

.y-sidebar-tab .loginStyle > .ico_my_class {
  height: 24px;
  width: 24px;
  background-position: 0 -344px;
}

.sidebar-code {
  position: absolute;
  left: 0;
  bottom: 70px;
  width: 35px;
  padding: 10px 0;
  text-align: center;
  background-color: #333;
}

.sidebar-code .ico_code_class {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-position: 0 -391px;
}

.sidebar-code .sidebar-code-show {
  display: none;
  position: absolute;
  right: 35px;
  bottom: -1px;
  padding: 28px 29px 20px;
  width: 131px;
  height: 161px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-code:hover {
  background-color: #fff;
  color: #333;
}

.sidebar-code:hover .sidebar-code-show {
  display: block;
}

.sidebar-code:hover .ico_code_class {
  height: 24px;
  width: 24px;
  background-position: 0 -415px;
}

.y-sidebar-bd {
  position: relative;
  margin-left: 35px;
  width: 0;
  height: 100%;
  background-color: #f8f8f8;
  overflow: auto;
}

.y-sidebar-bd .error {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ff3434;
}

.sidebar-bd-my {
  padding: 20px;
  width: 234px;
}

.sidebar-bd-my > .my-title {
  padding-bottom: 20px;
  line-height: 23px;
  line-height: 23px;
}

.sidebar-bd-my > .my-title b {
  padding-right: 10px;
  max-width: 230px;
  font-size: 16px;
}

.sidebar-bd-my > .my-amount {
  border: 1px solid #e5e5e5;
}

.sidebar-bd-my > .my-amount li {
  float: left;
  margin-left: -1px;
  width: 77px;
  height: 63px;
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
}

.sidebar-bd-my > .my-amount li span {
  display: block;
  height: 31px;
  line-height: 44px;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
}

.sidebar-bd-my > .my-amount li span.gray {
  font-size: 12px;
  line-height: 18px;
}

.sidebar-bd-my > .my-amount li a {
  display: block;
}

.sidebar-bd-my > .my-amount li a:hover {
  color: #333;
  background-color: #f0f0f0;
}

.sidebar-bd-my > .my-order {
  margin-top: 20px;
  padding: 9px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.sidebar-bd-my > .my-order dt {
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  clear: both;
}

.sidebar-bd-my > .my-order dd {
  position: relative;
  float: left;
  padding: 10px 17px 0;
  width: 72px;
}

.sidebar-bd-my > .my-order dd .iconfont {
  font-size: 36px;
  color: #76c552;
}

.sidebar-bd-my > .my-order dd a {
  position: relative;
  display: block;
  text-align: center;
}

.sidebar-bd-my > .my-order dd em {
  position: absolute;
  left: 46px;
  top: 0;
  padding: 0 5px;
  height: 16px;
  line-height: 15px;
  border-radius: 10px;
  background-color: #ff3434;
  color: #fff;
  font-style: normal;
}

.sidebar-bd-my .my-coupon {
  margin-top: 20px;
  padding: 9px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.sidebar-bd-my .my-coupon dt {
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  clear: both;
}

.sidebar-bd-my .my-coupon .coupon {
  position: relative;
  margin-top: 14px;
  width: 214px;
  height: 115px;
  font-family: "SimSun";
  overflow: hidden;
}

.sidebar-bd-my .my-coupon .coupon.coupon1 {
  color: #76c552;
  background: url(../images/base/coupon_bg_1.gif) no-repeat;
}

.sidebar-bd-my .my-coupon .coupon.coupon1 .title {
  color: #b1db9f;
}

.sidebar-bd-my .my-coupon .coupon.coupon1 .apply {
  color: #b1db9f;
}

.sidebar-bd-my .my-coupon .coupon.coupon2 {
  color: #1ba3d6;
  background: url(../images/base/coupon_bg_2.gif) no-repeat;
}

.sidebar-bd-my .my-coupon .coupon.coupon2 .title {
  color: #8cc8e6;
}

.sidebar-bd-my .my-coupon .coupon.coupon2 .apply {
  color: #8cc8e6;
}

.sidebar-bd-my .my-coupon .coupon a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.sidebar-bd-my .my-coupon .coupon .denomination {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 14px;
  font-family: "Microsoft Yahei";
}

.sidebar-bd-my .my-coupon .coupon .denomination span {
  font-size: 18px;
}

.sidebar-bd-my .my-coupon .coupon .limit {
  position: absolute;
  right: 20px;
  top: 14px;
}

.sidebar-bd-my .my-coupon .coupon .validity {
  position: absolute;
  right: 20px;
  top: 30px;
  color: #bcbcbc;
}

.sidebar-bd-my .my-coupon .coupon .title {
  margin-top: 58px;
  margin-left: 20px;
  padding-right: 20px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

.sidebar-bd-my .my-coupon .coupon .apply {
  margin-left: 20px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

.sidebar-bd-my .my-coupon .more {
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
  text-align: right;
  font-size: 14px;
}

.sidebar-bd-my .my-coupon .more a {
  color: #0081cc;
}

.sidebar-bd-my .my-coupon .more a:hover {
  text-decoration: underline;
}

.sidebar-bd-my .my-other {
  margin-top: 20px;
}

.sidebar-bd-my .my-other .title {
  padding-bottom: 10px;
  height: 14px;
  line-height: 14px;
  border-bottom: 1px dashed #e5e5e5;
  color: #666;
}

.sidebar-bd-my .my-other .info {
  margin-top: 10px;
  height: 14px;
  line-height: 14px;
  text-align: right;
}

.sidebar-bd-my .my-other .info a {
  color: #0081cc;
}

.sidebar-bd-my .my-other .info a:hover {
  text-decoration: underline;
}

.sidebar-bd-my .my-other .info span {
  color: #b2cee7;
}

.sidebar-bd-cart {
  padding: 20px 12px 20px 10px;
  width: 252px;
}

.sidebar-bd-cart .sidebar-goods-list > dl {
  overflow: hidden;
}

.sidebar-bd-cart .sidebar-goods-list dt {
  margin-top: -1px;
  padding: 10px 0 17px 12px;
  height: 16px;
  line-height: 15px;
  font-size: 14px;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
}

.sidebar-bd-cart .sidebar-goods-list dt span {
  float: right;
  font-family: "SimSun";
  font-size: 12px;
  color: #666;
}

.sidebar-bd-cart .sidebar-goods-list dt input[type="checkbox"] {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

.sidebar-bd-cart .sidebar-goods-list dd {
  position: relative;
  margin-left: 13px;
  padding-top: 15px;
  padding-bottom: 14px;
  height: 60px;
  border-top: 1px solid #e5e5e5;
}

.sidebar-bd-cart .sidebar-goods-list dd input[type="checkbox"] {
  position: absolute;
  left: -13px;
  top: 37px;
}

.sidebar-bd-cart .sidebar-goods-list dd .imgbox {
  position: relative;
  float: left;
  margin-left: 23px;
  margin-right: 15px;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

.sidebar-bd-cart .sidebar-goods-list dd .imgbox img {
  max-width: 58px;
  max-height: 58px;
}

.sidebar-bd-cart .sidebar-goods-list dd .imgbox a {
  display: block;
  height: 100%;
}

.sidebar-bd-cart .sidebar-goods-list dd .imgbox .disable-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../images/base/black_opacity_80.png) repeat;
  color: #fff;
}

.sidebar-bd-cart .sidebar-goods-list dd .imgbox .xiajia-text {
  text-decoration: line-through;
}

.sidebar-bd-cart .sidebar-goods-list dd .info .title {
  height: 20px;
  line-height: 20px;
  color: #666;
}

.sidebar-bd-cart .sidebar-goods-list dd .info .text {
  height: 20px;
  line-height: 20px;
  color: #aaa;
}

.sidebar-bd-cart .sidebar-goods-list dd .info .text span {
  float: right;
}

.sidebar-bd-cart .sidebar-goods-list dd .info .number {
  padding: 0;
  width: 38px;
  height: 18px;
  border: 1px solid #c8c8c8;
  font-size: 12px;
  text-align: center;
  color: #333;
}

.sidebar-bd-cart .sidebar-goods-list dd .info em {
  margin-left: -3px;
  margin-right: -3px;
  padding: 0 5px;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

.sidebar-bd-cart .sidebar-goods-list dd .close {
  display: none;
  position: absolute;
  right: 2px;
  top: 10px;
  height: 11px;
  width: 11px;
  background-position: 0 -68px;
}

.sidebar-bd-cart .sidebar-goods-list dd:hover .close {
  display: block;
}

.sidebar-bd-cart .sidebar-goods-list dd.disable .imgbox .disable-text {
  display: block;
}

.sidebar-bd-cart .sidebar-goods-list dd.disable .info .xiajia-title {
  text-decoration: line-through;
}

.sidebar-bd-cart .total {
  margin-top: 16px;
}

.sidebar-bd-cart .total > .price {
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  overflow: hidden;
}

.sidebar-bd-cart .total > .price span {
  float: right;
  font-weight: bold;
  color: #ff3434;
}

.sidebar-bd-cart .total > .price em {
  font-style: normal;
}

.sidebar-bd-cart .total > .btn-box {
  margin-top: 10px;
  height: 35px;
  line-height: 32px;
}

.sidebar-bd-cart .total > .btn-box .btn-checkout {
  display: block;
  height: 33px;
  border: 1px solid #67a82b;
  background-color: #77c552;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.sidebar-bd-cart .total > .btn-box .btn-checkout:hover {
  background-color: #84ca62;
}

.sidebar-bd-cart .total > .btn-box .ico_go {
  display: inline-block;
  margin-left: 5px;
  margin-top: -2px;
  vertical-align: middle;
}

.sidebar-bd-cart .total > .info {
  margin-top: 7px;
  height: 14px;
  line-height: 14px;
  color: #999;
}

.ico_buyer_level {
  display: inline-block;
}

.sidebar-gotop {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35px;
  background-color: #333;
}

.sidebar-gotop #sidebarGoTop {
  display: block;
  margin: 0 3px;
  padding: 20px 0;
  border-top: 1px solid #666;
  text-align: center;
}

.sidebar-gotop .ico_main {
  display: inline-block;
}

.sidebar-gotop:hover {
  background-color: #e5e5e5;
}

.sidebar-gotop:hover #sidebarGoTop {
  border-color: #e5e5e5;
}

.sidebar-gotop:hover .ico_gotop {
  height: 14px;
  width: 25px;
  background-position: 0 -512px;
}

/**	
 * 通用登录框
 * 弹出模块以 .p-开头
**/
.p-login {
  width: 450px;
  height: 450px;
  position: fixed;
  margin: -225px 0px 0px -225px;
  display: block;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

.p-login .login-bg {
  width: 450px;
  height: 450px;
  background: #fff;
  opacity: 0.5;
}

.p-login .login-wrap {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 430px;
  height: 430px;
  background-color: #fff;
  text-align: left;
  -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
}

.p-login .login-wrap .title {
  width: 410px;
  height: 50px;
  padding: 10px 0 0;
  line-height: 50px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  color: #77c653;
  border-bottom: 1px solid #ededed;
  margin: 0 auto 20px;
  text-indent: 2em;
}

.p-login .login-wrap .error-msg {
  width: 300px;
  margin: 0 auto;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  text-align: right;
  color: #ff3434;
}

.p-login .login-wrap .form-li {
  width: 300px;
  margin: 0px auto 20px;
  height: 40px;
}

.p-login .login-wrap .form-li span {
  float: left;
  width: 40px;
  height: 38px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #e5e5e5;
  color: #999;
  font-size: 24px;
  text-align: center;
}

.p-login .login-wrap .input-text {
  float: left;
  padding: 0 10px;
  width: 237px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #ddd;
  color: #333;
}

.p-login .login-wrap .form-link {
  width: 300px;
  margin: 0 auto;
  height: 16px;
  line-height: 16px;
  text-align: right;
  color: #757575;
}

.p-login .login-wrap .form-link span {
  padding: 0 3px;
}

.p-login .login-wrap .form-link.reg-link {
  text-align: left;
}

.p-login .login-wrap .form-link.reg-link a {
  color: #317ee7;
}

.p-login .login-wrap .form-link.reg-link a:hover {
  text-decoration: underline;
}

.p-login .login-wrap .btn-login {
  width: 300px;
  display: block;
  margin: 8px auto;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  color: #fff;
  background-color: #77c552;
  border: 1px solid #67a82b;
  text-align: center;
}

.p-login .login-wrap .btn-login:hover {
  background-color: #7bc15a;
}
