<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>

<!-- hiddenField -->
	<input type="hidden" data-areaCode="340000" id="area">
    <input type="hidden" data-uid="123" id="uid">
    <input type="hidden" data-domain="www.ypzdw.com" id="shopDomain">
<!-- banner -->
    <div class="banner"></div>
    <div class="content-wrapper">
<!-- nav -->
    	<div class="sdNav hideS">
    		<ul class="models">
    			<li class="model">
    				冬季主场秀<br>
    				(12.5~12.11)
    			</li>
    			<li class="model">
    				低价清仓周<br>
    				(12.12~12.18)
    			</li>
    			<li class="model">
    				感恩会员周<br>
    				(12.19~12.23)
    			</li>
    		</ul>
    		<p class="toTop" id="toTop"></p>
    	</div>

    	<div class="setion st1">
			<div class="tit">
				<!-- <h2>充值返现 拿到就是赚了</h2>
				<p>活动时间：12月5日</p> -->
			</div>
			<div class="ct">
				<h3>{ 充值返券 }</h3>
				<ul class="cashCps">
					<li class="cashCp">
					<!-- 绑一个萌萌哒的充值链接 -->
						<a class="link" href="_blank" target="_blank"></a>
					</li>
					<li class="cashCp">
						<a class="link" href="_blank" target="_blank"></a>
					</li>
					<li class="cashCp">
						<a class="link" href="_blank" target="_blank"></a>
					</li>
					<li class="cashCp">
						<a class="link" href="_blank" target="_blank"></a>
					</li>
				</ul>
			</div>
			<div class="ft">
				<h4>温馨提示</h4>
				<ul class="tips">
					<li class="tip">活动结束之后，3个工作日发券到充值账户，优惠券效期：12.19~12.20。</li>
					<li class="tip">活动期间，每用户只可享受一次充值返券，充值金额不可累计，活动期间多次充值，以首次充值的金额享受满额返券。</li>
				</ul>
			</div>
    	</div>
    	<div class="setion st2">
    		<div class="tit">
				<!-- <h2>十万优惠  等你来抢</h2>
				<p>活动时间：12月5日~12月9日</p> -->
			</div>
			<div class="ct">
				<h3>{ 积分兑换 }</h3>
				<ul class="jifenCps">
					<li class="jifenCp" data-restAmount="0" data-couponId="0" data-jfTake="5000" data-moenyCp="10" data-amount="600">
						<span class="btn"></span>
					</li>
					<li class="jifenCp" data-restAmount="1" data-couponId="1" data-jfTake="10000" data-moenyCp="20" data-amount="1000">
						<span class="btn"></span>
					</li>
					<li class="jifenCp" data-restAmount="0" data-couponId="2" data-jfTake="20000" data-moenyCp="40" data-amount="1500">
						<span class="btn"></span>
					</li>
					<li class="jifenCp" data-restAmount="1" data-couponId="3" data-jfTake="50000" data-moenyCp="100" data-amount="3000">
						<span class="btn"></span>
					</li>
				</ul>
			</div>
			<div class="ft">
				<h4>温馨提示</h4>
				<ul class="tips">
					<li class="tip">1、每个用户每种优惠券每天只能兑换一次，每天可兑换的优惠券总量有限，兑完即止；</li>
					<li class="tip">2、兑换时间12月5日-12月9日，每天0点刷新优惠券数量，优惠券的有效期截止12月23日；</li>
					<li class="tip">3、成功兑换的平台优惠券，请前往“会员中心-我的优惠券"查看。</li>
				</ul>
			</div>

			<div class="cutLine"></div>

			<div class="ct">
				<h3>{ 商家优惠券 }</h3>
				<ul class="salerCps">
					<!-- <li class="salerCp">
						<p class="shortName">仁通医药</p>
						<p class="fullname">四川仁通医药有限公司</p>
						<a class="goShop" target="_blank">进店领券</a>
					</li>
					<li class="salerCp">
						<p class="shortName">仁通医药</p>
						<p class="fullname">四川仁通医药有限公司</p>
						<a class="goShop" target="_blank">进店领券</a>
					</li>
					<li class="salerCp">
						<p class="shortName">仁通医药</p>
						<p class="fullname">四川仁通医药有限公司</p>
						<a class="goShop" target="_blank">进店领券</a>
					</li>
					<li class="salerCp">
						<p class="shortName">仁通医药</p>
						<p class="fullname">四川仁通医药有限公司</p>
						<a class="goShop" target="_blank">进店领券</a>
					</li>
					<li class="salerCp">
						<p class="shortName">仁通医药</p>
						<p class="fullname">四川仁通医药有限公司</p>
						<a class="goShop" target="_blank">进店领券</a>
					</li> -->
					<!-- fixed -->
					<li class="salerCp fixed"></li>
					<li class="salerCp fixed"></li>
				</ul>
			</div>

			<div class="cutLine"></div>

			<div class="ct">
				<h3>{ 12月12日满返券 }</h3>
				<p class="scdTit">12月12日 当日累计支付满5000元(实际支付金额)及以上，享受以下赠券</p>
				<ul class="fanCps">
					<li class="fanCp"></li>
					<li class="fanCp"></li>
				</ul>
			</div>
    	</div>
    	<div class="setion st3 modelFollw">
			<div class="ft">
				<a href="javascript:;" class="link updateHref winter" target="_blank">
					即将开始
				</a>
			</div>
    	</div>
    	<div class="setion st4 modelFollw">
			<div class="ft">
				<a href="javascript:;" class="link updateHref clearStore" target="_blank">
					即将开始
				</a>
			</div>
    	</div>
    	<div class="setion st9 modelFollw">
			<div class="ft">
				<a href="javascript:;" class="link updateHref thxNumber" target="_blank">
					即将开始
				</a>
			</div>
    	</div>
    	<div class="setion st5">
			<div class="ft">
				<a href="javascript:;" class="link updateHref scdSkill" target="_blank">
					即将开始
				</a>
			</div>
    	</div>
    	<div class="setion st6">
    		<div class="hd"></div>
			<div class="scanCode"></div>
			<div class="scanCode"></div>
    	</div>
    	<div class="setion st7">
    		<div class="left ft">
				<a href="javascript:;" class="groupBuy ft updateHref group" target="_blank">
					即将开始
				</a>
    		</div>
    		<div class="right ft">
    			<a href="javascript:;" class="boomBuy ft updateHref boom" target="_blank">
					即将开始
				</a>
    		</div>
    	</div>
    	<div class="setion st8">
    	<!-- 会员中心 优惠券 的链接绑一波 -->
    		<a class="link" href="" target="_blank"></a>
   		</div>
</div>
</html>