<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Cq0728</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>

    <div class="banner"></div>
    <div class="header">
    	<!-- <div class="bd pos_r auto">
    		<a class="btn pos_a bd_none bg_gray bg_red" href="">即将开抢</a>
    	</div> -->
    </div>
    <div class="content">
    	<h2 class="hd auto"></h2>
    	<div class="bd auto">
			<!-- <ul class="list_goods">
				<li class="wrap_middle wd_246 dis_ib">
					<div class="item_goods bg_white wd_i">
						<a href="{{link_goods}}" class="pic_item dis_b wrap_middle txt_c" target="_blank"><img src="{{src_goods}}_220x220" alt=""></a>
						<p class="fs_16 txt_of_e"><a href="{{link_goods}}" target="_blank">{{name_goods}}</a></p>
						<p class="fs_12 txt_of_e">规格：{{rule_goods}}</p>
						<p class="fs_12 txt_of_e">厂家：{{name_shop}}</p>
						<p class="fs_20 red keepblank">￥{{price_now}}  <em class="fs_12 c99 txt_dct_lt">{{price_old}}</em></p>
					</div>
					<div class="btn_group wrap_middle bg_white wd_i txt_c pd_b_10 pd_t_10">
						<a class="btn wd_110 fs_16 pd_t_5 pd_b_5 bg_g9 btn_active" href="{{link_goods}}" target="_blank">即将开枪</a>
					</div>
				</li>
				<li class="wd_246 dis_ib vtc_t"></li>
				<li class="wd_246 dis_ib vtc_t"></li>
				<li class="wd_246 dis_ib vtc_t"></li>
			</ul> -->
    	</div>
    </div>
    <div class="footer">
    	<div class="bd pos_r auto">
    		<a class="btn pos_a bd_none bg_red" href="https://szdtyy.ypzdw.com/" target="_blank">进入店铺</a>
    	</div>
    </div>

    <!-- script -->
	<script src="https://www.ypzdw.com/api/common/GetServerTime"></script>
	<script type="text/javascript" src="https://static2.ypzdw.com/shop/js/promotion.js"></script>
</body>
</html>