body{
	background:url('../pics/0.jpg') no-repeat center;
}
div{ 
	width:100px;
	height:100px;
	box-shadow:0 0 10px #678 inset; 
	transform:rotate(45deg);
}
.centerWrapper{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}