<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>优选</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>

    <div class="setion1 setion"></div>
    <div class="setion2 setion"></div>
    <div class="setion3 setion">
        <div class="content auto">
            <ul class="list_goods">
                <li class="item_goods">
                    <span class="btn bg_gray bg_red fs_16 pos_a goBuy">立即购买</span>
                </li>
                <li class="item_goods">
                    <span class="btn bg_gray bg_red fs_16 pos_a goBuy">立即购买</span>
                </li>
                <li class="item_goods">
                    <span class="btn bg_gray bg_red fs_16 pos_a goBuy">立即购买</span>
                </li>
                <li class="item_goods">
                    <span class="btn bg_gray bg_red fs_16 pos_a goBuy">立即购买</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="setion4 setion"></div>
    <div class="setion5 setion"></div>
    <div class="nav pos_f">
        <ul class="list_toGo txt_c">
            <li class="item_toGo">厂家介绍</li>
            <li class="item_toGo">补钙小知识</li>
            <li class="item_toGo">优选产品包</li>
            <li class="item_toGo">牡蛎钙专享价</li>
            <li class="item_toGo">药粉大钜惠</li>
        </ul>
        <div class="cur_p" id="toTop"></div>
    </div>

   <!-- <div id="mark">
       <div class="pos_f bd_d" id="tips">
            <h2 class="bd_b_e">
            <em class="title">系统提示</em>
            <i class="tips_close dis_ib fl_r"></i>
            </h2>
            <div class="content_tips txt_c">
                <strong class="fs_24 dis_b">你还没登录额！</strong>
                <span class="fs_12 dis_b"><a class="btn" href="">登录</a></span>
            </div>
            <div class="footer_tips txt_c">
                本页面将在<em class="red">3</em>秒后自动关闭
            </div>
      </div>
  </div> -->

    <div class="dataBox">
        <input id="UserId" type="hidden" value="1">
        <input id="trackPn" type="hidden" value="promotion">
        <input id="trackMc" type="hidden" value="shop">
        <input id="trackPf" type="hidden" value="ypzdw">
    </div>

  <script src="https://www.ypzdw.com/api/common/GetServerTime"></script>
  <script type="text/javascript" src="https://static2.ypzdw.com/shop/js/promotion.js"></script>
</body>
</html>