<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>yx2</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
<div class="page">
<!-- header -->
	<div class="header"></div>
<!-- content -->
	<div class="content auto">
		<div class="hd">
			<a class="link pos_r" href="https://hhyy.ypzdw.com/" target="_blank" title="进入店铺"></a>
		</div>
		<div class="bd">
			<ul class="listBag">
				<li class="itemBag">
					<span class="btn bg_red">立即购买</span>
				</li>
				<li class="itemBag">
					<span class="btn bg_red">立即购买</span>
				</li>
				<li class="itemBag">
					<span class="btn bg_red">立即购买</span>
				</li>
				<li class="itemBag">
					<span class="btn bg_red">立即购买</span>
				</li>
				<li class="itemBag">
					<span class="btn bg_red">立即购买</span>
				</li>
				<li class="itemBag">
					<span class="btn bg_red">立即购买</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="dataBox">
        <input id="UserId" type="hidden" value="1">
        <input id="trackPn" type="hidden" value="promotion">
        <input id="trackMc" type="hidden" value="shop">
        <input id="trackPf" type="hidden" value="ypzdw">
    </div>
</div>
<!-- script -->
	<script type="text/javascript" src="https://static2.ypzdw.com/shop/js/promotion.js"></script>
</body>
</html>