<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>test</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../css/myTest.min.css?e665c70c0f951451a311" rel="stylesheet"></head>
<body style="height: 2000px;">

    <div class="pos_f btn bg_olive" id="toTop" style="right:10px;bottom:40px;">
    	回到顶部
    </div>

    <div id="upImg">
		<div class="btn_group mg_b_30 mg_t_20">
    		<input class="hide_c" id="btn_selectImg" type="file">
    		<label class="btn bg_olive fs_12" for="btn_selectImg">点击选择图片</label><br>
		</div>
		<div class="wrap_seeImg wrap_middle txt_c bd_d" style="height:200px;">
			<!-- <img class="preview" class="bd_none" alt="" style="height:180px;width:180px;"> -->
		</div>
		<div class="btn_act mg_t_15">
			<input type="button" class="btn bg_red fs_12" value="取消">
    		<input type="button" class="btn bg_blue fs_12" id="btn_submitImg" value="确认上传">
		</div>
    </div>

    <div class="getBoundClientRect bd_d pos_a" style="top:1000px;">
    i am a tangerine.
    </div>
<script type="text/javascript" src="../js/myTest.min.js?e665c70c0f951451a311"></script></body>
</html>