<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>test</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../css/myTest.min.css?12efc3e39a030836f40d" rel="stylesheet"></head>
<body style="height: 2000px;">

    <div class="pos_f btn bg_olive" id="toTop" style="right:10px;bottom:40px;">
    	回到顶部
    </div>

    <div id="upImg">
		<div class="btn_group">
    		<input class="hide_c" id="btn_selectImg" type="file">
    		<label class="btn_up" for="btn_selectImg">点击选择图片</label><br>
		</div>
		<div class="wrap_seeImg">
			<!-- <img class="preview" class="bd_none" alt="" style="height:180px;width:180px;"> -->
		</div>
		<div class="btn_act">
			<input type="button" class="btn" value="取消">
    		<input type="button" class="btn" id="btn_submitImg" value="确认上传">
		</div>
    </div>

    <div class="getBoundClientRect" style="top:1000px;">
        i am a tangerine.
    </div>
<script type="text/javascript" src="../js/myTest.min.js?12efc3e39a030836f40d"></script></body>
</html>